<a id="bug" itemprop="creator" rel="author" itemscope itemtype='http://schema.org/Person' href="/about">
	<h1>{{config.title}}</h1>
	<h2>Photography</h2>
	<h3 itemprop='name'>{{config.owner.name}}</h3>
</a>