{{#if this}}
<nav class="tag-wrapper">
	<ul class="tags">
		<li class="label">More like this:</li>
		{{#each this}}
			<li><a href="/{{@key}}" rel="tag">{{this}}</a></li>
		{{/each}}
	</ul>
	{{{icon 'tags'}}}
</nav>
{{/if}}
<span></span>