<div id='foot-links' class="content">
	<p class="rights"><strong>Text, images and video are &#169; Copyright 2014 Jason Abbott. All Rights Reserved.</strong></p>
	<p>Topographic background courtesy of the <a href='http://motoidaho.com/'>Idaho Adventure Motorcycling Club</a></p>
	<p>Images are hosted at <a href='http://flickr.com/photos/trailimage/'>Flickr</a>. Icons courtesy of <a href="http://glyphicons.com/">Glyphicons</a>.</p>
</div>