<footer class="page content">
	<p class="rights"><strong>Text, images and video are &#169; Copyright 2018 Jason Abbott. All Rights Reserved.</strong></p>
	<p>Topographic background courtesy of the <a href='http://motoidaho.com/'>Idaho Adventure Motorcycling Club</a></p>
   <p>Maps are &#169; Copyright <a href="https://www.mapbox.com/about/maps/">Mapbox</a> 
      and &#169; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>
   </p>
	<a class="repo" href="{{config.repoUrl}}">
		<span class="icon icon-github-circle"></span>
		<img src="https://badge.fury.io/gh/Jason-Abbott%2Ftrail-image.svg" width="92" height="20"/>
	</a>
</footer>