<div id="mobile-menu-button">{{{icon "menu-hamburger"}}}</div>
<div id="mobile-menu"></div>

<div id='links'>
	<div class="google-search"><!--suppress CheckTagEmptyBody -->
		<gcse:searchbox-only resultsUrl="/search" enableAutoComplete="true"></gcse:searchbox-only></div>
	<div class="twitter"><a href="https://twitter.com/trailimage" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow</a></div>
	<a href="/">Home</a>
	<a href="/about">About</a>
	{{> contact-link}}
	<a href="/photo-tag">Photo Tags</a>
	<!--<a href="/featured">Featured</a>-->
	<a href="/ruminations">Ruminations</a>
	<a href="/rss" class="feed-icon">RSS Feed</a>
</div>

{{! when/where/who/what links loaded by /js/responsive.js }}
<div id="post-tag-menu"></div>