{{! Same header ID and class as in post.hbs and post-tag.hbs }}
<div id="header" class="content simple">
	<!--googleoff: index-->
	<div id="mobile-menu"></div>
	<!--googleon: index-->
	<div id="top-bar">
		{{> @partial-block }}
		<div id="mobile-menu-button">{{{icon "menu-hamburger"}}}</div>
	</div>
</div>