<title>{{title}}</title>
{{! https://developer.chrome.com/multidevice/android/installtohomescreen }}
<meta name="mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=650, user-scalable=no">
<meta property='og:site_name' content='{{config.site.title}}' />
<meta name='description' property='og:description' content='{{description}}' />