<script type="text/javascript" defer>
	window.addEventListener('load', function() { $('#mobile-menu').load('/mobile-menu'); });
</script>
<script src='/js/mobile-menu.js' type='text/javascript' defer></script>
<div id="mobile-menu"></div>