<a id="menu-title">View Another Adventure{{{icon 'chevron-down'}}}{{{icon 'chevron-up'}}}</a>
<div id="menu">
	<ul id="menu-root"></ul>
	<ul id="menu-tag"></ul>
	<ul id="menu-post"></ul>
	<div id="post-description"></div>
</div>