<a id="post-menu-button">View Another Adventure{{{icon 'chevron-down'}}}{{{icon 'chevron-up'}}}</a>
<nav id="post-menu">
	<ul id="menu-roots"></ul>
	<ul id="menu-tags"></ul>
	<ul id="menu-posts"></ul>
	<div id="post-description"></div>
</nav>