{{! Links along right side in desktop view }}

<nav id='links'>
	<div class="google-search"><!--suppress CheckTagEmptyBody -->
		<gcse:searchbox-only resultsUrl="/search" enableAutoComplete="true"></gcse:searchbox-only></div>
	<div class="twitter"><a href="https://twitter.com/trailimage" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow</a></div>
	<a href="/" rel="home">Home</a>
	<a href="/about" rel="author">About</a>
	{{> contact-link}}
	<a href="/photo-tag" rel="search">Photo Tags</a>
	<!--<a href="/featured">Featured</a>-->
	<a href="/ruminations">Ruminations</a>
	<a href="/rss" class="feed-icon" rel="alternate" type="application/rss+xml">RSS Feed</a>
</nav>

{{! when/where/who/what links loaded by /js/responsive.js }}
<nav id="post-tag-menu"></nav>