@import "elements";
@import "glyphicons";

@columnWidth: 320px;
@small: ~"only screen and (max-width: 1120px)";

html
{
	overflow: hidden;
	margin: 0;
	padding: 0;
}

body
{
	position: relative;
	margin: 0;
	padding: 0;
	font-family: "Droid Sans", Arial;
}

#overlay
{
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	z-index: 10;

	.opacity(0.8);

	@media @small { right: 0; bottom: 0; background-color: #fff; }
}


#google-doc
{
	width: 100%;
	margin-right: @columnWidth;
	height: 100%;

	@media @small { margin-right: 0; }
}

#menu .glyphicon, #meta .menu .glyphicon
{
	color: #226;
	font-size: 50px;
	cursor: pointer;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);

	.opacity(0.7);

	&:hover { .opacity(1); }
}

#menu
{
	position: absolute;
	top: 0;
	right: 20px;
	display: none;
	z-index: 20;

	@media @small
	{
		display: block;
	}
}

#meta
{
	position: absolute;
	top: 0;
	right: 15px;
	height: 100%;
	width: @columnWidth;
	padding: 0 5px 0 10px;
	border-left: 1px solid #eee;
	z-index: 30;

	.menu
	{
		position: absolute;
		top: 0;
		right: 0;
		display: none;
	}

	a.home { text-decoration: none; }

	h1, h2 { font-weight: normal; margin: 0; padding: 0; color: #226; }

	h1
	{
		font-family: 'Qwigley', Tahoma, Arial;
		font-size: 85px;
		line-height: 50px;
		text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
		text-align: center;
		margin-top: 15px;
		margin-right: 10px;
	}

	h2
	{
		text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
		font-size: 20px;
		line-height: 10px;
		letter-spacing: 1px;
		font-family: 'Oswald', Tahoma, Arial;
		font-weight: normal;
		text-align: right;
		margin-right: 20px;
		text-transform: uppercase;
		.opacity(0.7);
	}

	ul
	{
		font-size: 12px;
		li { padding-bottom: 5px; }
		.highlight { background-color: #ff0; }
	}

	p
	{
		color: #556;
		.quote { font-style: italic; }
	}

	.twitter
	{
		position: absolute;
		top: 61px;
		left: 60px;
	}

	.fb-like { margin-top: 30px; }
	.rights { font-size: 12px; margin: 20px 0; text-align: center; }
	.fb-comments { margin: 0; }

	@media @small
	{
		display: none;
		background-color: #fff;
		.drop-shadow(-5px, 0, 10px, 0.3);

		.menu {	display: block; }
		h1 { margin-top: 55px; }
		.twitter { top: 100px; }
	}
}


