@import "elements";
@import "settings";

#mobile-menu-button {
	position: absolute;
	z-index: 300;
	top: 10px;
	right: 10px;
	width: 50px;
	height: 50px;
	background-color: #fff;

	.glyphicon {
		font-size: 50px;
		color: @mobileTextColor;
		cursor: pointer;
	}
}

#mobile-menu {
	top: 50px;
	width: @contentWidth;
	position: absolute;
	font-family: @sanSerifFont;
	font-size: 24px;
	line-height: 1em;
	color: @mobileTextColor;
	background-color: #000;
	z-index: 300;
	margin: 0 auto;
	display: none;

	ul {
		li {
			padding: 14px 0;
			a {
				color: @mobileTextColor;
				text-decoration: none;
			}
		}

		&.links {
			position: absolute;
			top: 10px;
			right: 20px;
			text-align: right;

			li {
				.glyphicon {
					font-size: 18px;
					padding-left: 10px;
					color: darken(@mobileTextColor, 50%);
				}
			}

		}

		&.tag-list {
			margin: 10px 20px;
			float: left;
			li {
				white-space: nowrap;
				.glyphicon {
					font-size: 18px;
					padding-right: 10px;
					color: @mobileLinkColor;
				}
			}
		}
	}

	.tags {
		float: left;
		margin: 10px;
		ul {
			display: none;
			&.when {
				display: block;
			}
		}
	}

	.close {
		position: absolute;
		bottom: 20px;
		right: 20px;
		cursor: pointer;

		.glyphicon {
			font-size: 48px;
			color: #faa;
		}
	}
}