@import "elements";
@import "settings";

#mobile-menu-button {
	position: absolute;
	z-index: 300;
	top: 0;
	right: 0;
	display: none;

	.glyphicon {
		padding: 10px;
		font-size: 50px;
		color: @mobileTextColor;
		cursor: pointer;
	}

	@media @mobile { display: block; }
}

#mobile-menu {
	@headerSize: 65px;
	@selectColor: #333;

	top: 0;
	bottom: 0;
	width: @contentWidth;
	position: absolute;
	min-height: 500px;
	font-family: @sanSerifFont;
	font-size: 24px;
	line-height: 1em;
	color: @mobileTextColor;
	background-color: #000;
	z-index: 300;
	margin: 0 auto;
	display: none;

	h1 {
		position: absolute;
		top: 20px;
		left: 20px;
		font-size: 30px;
		font-family: @headerFont;
		margin: 0;
		padding: 0;
	}

	ul {
		li {
			padding: 14px 0;
			cursor: pointer;
			a {
				color: @mobileTextColor;
				text-decoration: none;
			}
		}

		&.links {
			position: absolute;
			top: 80px;
			right: 20px;
			text-align: right;

			li {
				.glyphicon {
					font-size: 18px;
					padding-left: 10px;
					color: darken(@mobileTextColor, 50%);
				}
			}

		}

		&.tag-list {
			margin: @headerSize 0 0 0;
			float: left;
			li {
				white-space: nowrap;
				padding: 20px;
				.glyphicon {
					font-size: 18px;
					padding-right: 10px;
					color: @mobileLinkColor;
				}
				&.selected {
					background-color: @selectColor;
				}
			}
		}
	}

	.tags {
		float: left;
		margin: @headerSize 0;
		ul {
			padding: 0;
			margin: 0;
			display: none;
			background-color: @selectColor;

			li {
				padding: 10px 20px;
				.count {
					font-size: smaller;
					padding-left: 10px;
					color: #666;
				}
			}
		}
	}

	.close {
		position: absolute;
		top: 20px;
		right: 20px;

		.glyphicon {
			cursor: pointer;
			font-size: 48px;
			color: #fff;
		}
	}
}