@import "reset";
@import "elements";
@import "glyphicons";
@import "settings";
@import "post-menu";
@import "mobile-menu";
@import "side-menu";
@import "facebook";
@import "google-search";
@import "about-page";
@import "post-page";
@import "post-tag-page";
@import "photo-tag-page";

html {
	overflow-y: scroll;
	overflow: -moz-scrollbars-vertical;
	/*-webkit-font-smoothing: subpixel-antialiased;*/
}

body {
	margin: 0;
	padding: 0;
	position: relative;
	font-size: small;
	color: #333;
	line-height: 1.3em;
	background: #222 url(/img/topo-map-tile.jpg) repeat;

	@media @mobile { color: @mobileTextColor; padding-top: @mobileHeaderHeight; }
}

.content {
	position: relative;
	font-family: @sanSerifFont;
	font-weight: normal;
	text-align: left;
	margin: 0 auto;
	padding: 0;
	background-color: rgba(255, 255, 255, 0.9);
	width: @contentWidth;

	@media @mobile { background: none; }
}

.clear { clear: both; }

/* Header ------------------------------------------------------------------ */

#bug {
	position: absolute;
	top: 15px;
	left: 5px;
	text-decoration: none;

	@media @mobile { display: none; }

	h1, h2, h3 {
		margin: 0 0 0 10px;
		padding: 0;
		color: rgba(255, 255, 255, 0.1);
		text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
		font-family: 'Oswald', Impact, Arial, sans-serif;
		text-rendering: optimizeLegibility;
		font-weight: normal;
		line-height: 1em;
	}
	h1 { font-size: 40px; }
	h2 { font-size: 13px; letter-spacing: 5px; text-transform: uppercase; padding-left: 5px; color: rgba(255, 255, 255, 0.2); }
	h3 {
		position: absolute;
		top: 39px;
		left: 6px;
		margin: 0;
		white-space: nowrap;
		font-size: 46px;
		font-family: 'Qwigley', Tahoma, Arial, sans-serif;
	}

	&:hover {
		h1, h2, h3 { text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.7); .transition(); }
		h1 { color: rgba(255, 255, 255, 0.2); }
		h3 { color: rgba(255, 100, 100, 0.6); }
		h2 { color: rgba(255, 255, 255, 0.4); }
	}
}

// used in heading.hbs, post.hbs and post-tag.hbs
#header {
	position: relative;

	// header without subtitle or date
	&.simple #top-bar {
		height: @headerHeight - 25;
		background-position: (@contentWidth - 90) -15px;

		@media @mobile {
			// mobile headers are all the same size
			background-image: none;
			height: @mobileHeaderHeight;
		}
	}

	#top-bar {
		height: @headerHeight;
		width: 100%;
		position: relative;
		padding: 0;
		margin: 0;
		z-index: 200;
		background: @lightColor url(/img/logo.png) no-repeat (@contentWidth - 95);
		border-bottom: 1px solid @lightTrimColor;
		text-rendering: optimizeLegibility;

		h1 {
			margin-left: 7px;
			font-family: @headerFont;
			letter-spacing: -1px;
			font-weight: 700;
			font-size: 34px;
			line-height: 1em;
			color: @boldColor; /* 423938 or 5e685c */
			text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
			float: left;
			vertical-align: top;
			margin-top: 5px;

			.glyphicon {
				padding: 0 5px 0 1px;
				.opacity(0.8);
			}
		}

		.subtitle {
			font-family: @sanSerifFont;
			color: @boldColor;
			letter-spacing: -1px;
			padding: 0 0 0 7px;
			font-size: 22px;
			float: left;
			line-height: 18px;
			text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);

			.parts {
				display: block;
				font-size: 15px;
				padding: 2px 0 0 1px;
				line-height: 18px;
				letter-spacing: 0;
			}
		}

		@media @mobile {
			height: @mobileHeaderHeight;
			background-image: none;
			background-color: #666;
			border-bottom: none;
			position: fixed;
			width: @contentWidth;
			top: 0;
			z-index: 200;

			h1 {
				margin-top: 10px;
				font-size: 38px;
				font-weight: 400;
				letter-spacing: 1px;
				color: @mobileTextColor;
				text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
			}
			.subtitle {
				padding-top: 8px;
				color: @mobileTextColor;
				text-shadow: none;

				.parts {
					padding-bottom: 2px;
				}
			}
		}

		a { color: #4e584c; }
	}
}

/* Authorize --------------------------------------------------------------- */

div.authorize {
	margin-top: 20px;

	h4 {
		font-family: @sanSerifFont;
		font-size: 36pt;
		margin: 0 0 0 20px;
		line-height: 1em;
		padding: 0;
		color: @trimColor;
	}

	div {
		font-family: @sanSerifFont;
		font-size: 22pt;
		margin-left: 30px;
	}
}

/* 503 --------------------------------------------------------------------- */

.not-ready {
	p {
		font-size: 24pt;
		text-align: center;
		line-height: 1.5em;
		padding: 0.5em 0;
		color: #fff;
	}
}

/* 404 --------------------------------------------------------------------- */

.not-found {
	height: @contentWidth;
	background-image: url('https://farm3.staticflickr.com/2911/14343924188_3eb2a469f0_b.jpg');

	p {
		font-size: 45px;
		text-align: center;
		line-height: 1.5em;
		padding: 1em;
		color: #fff;
		text-shadow: 0 0 8px rgba(0, 0, 0, 1);
	}
}

/* footer ------------------------------------------------------------------ */

#foot-links {
	position: relative;
	padding: 14px 0 20px 0;
	border-top: 1px solid @trimColor;
	clear: both;
	width: @contentWidth;
	background-color: rgba(255, 255, 255, 0.2);

	@media @mobile { background: #444; }

	.inner-shadow(0, 2px, 2px, 0.1);

	p {
		text-align: center;
		color: rgba(255, 255, 255, 0.6);
		font-weight: normal;
		font-family: @sanSerifFont;
		font-size: 13px;
		text-indent: 0;
		padding: 0;
		margin: 2px;

		a { color: @lightColor; }

		&.rights { font-size: 14px; };
	}
}