@import "reset";
@import "elements";
@import "glyphicons";
@import "settings";
@import "post-menu";
@import "mobile-menu";

html {
	overflow-y: scroll;
	overflow: -moz-scrollbars-vertical;
	/*-webkit-font-smoothing: subpixel-antialiased;*/
}

body {
	margin: 0;
	padding: 0;
	position: relative;
	font-size: small;
	color: #333;
	line-height: 1.3em;
	background: #222 url(/img/topo-map-tile.jpg) repeat;

	@media @mobile { color: @mobileTextColor; }
}

.content {
	position: relative;
	font-family: @sanSerifFont;
	font-weight: normal;
	text-align: left;
	margin: 0 auto;
	padding: 0;
	background-color: rgba(255, 255, 255, 0.9);
	width: @contentWidth;

	@media @mobile { background: none; }
}

.clear { clear: both; }

/* Social ------------------------------------------------------------------ */

#fb-root { position: absolute; }

.fb-script { position: absolute; }

.fb-like {
	position: relative;
	padding: 13px 0 2px 15px;
	height: 22px;
	/*overflow: hidden;*/
	z-index: 20;

	@media @mobile {
		// mobile chrome behaves differently so must validate on device
		top: -33px;
		left: -7px;
		z-index: 250;
	}
}

div.fb-comments {
	width: 100%;

	.fbFeedBackContent {
		.fbFeedBackContentHeader {
			div.fbModeratorOptions {
				margin-left: 10px !important;
			}
		}
		form.mainContentForm {
			img.viewerProfilePic { }
			label.fbCommentButton { }
		}

		div.fbFooterBorder
		{

		}
	}

	@media @mobile {
		background-color: @mobileTextColor;
	}
}

/* Navigation -------------------------------------------------------------- */

#nav-top {
	@media @mobile {
		div.next, div.previous {
			margin-top: -100px;
		}
	}
}

#nav-bottom {
	@media @mobile {
		div.next, div.previous {
			margin-top: 50px;
		}
	}
}

div.next {
	left: 50%;
	margin-left: (@contentWidth / 2) + 10;
	@media @mobile {
		right: 10px;
		margin: 0;
		text-align: right;
	}
}

div.previous {
	right: 50%;
	margin-right: (@contentWidth / 2) + 10;
	text-align: right;
	@media @mobile {
		left: 10px;
		margin: 0;
		text-align: left;
	}
}

div.next, div.previous {
	width: (@imageWidth - @contentWidth) / 2;
	margin-top: 30px;
	position: absolute;
	font-family: @sanSerifFont;
	font-size: 16px;
	text-rendering: optimizeLegibility;
	z-index: 250;

	h4 {
		color: #777;
		margin: 0 0 2px 0;
		font-size: 22px;
		line-height: 1em;

		.glyphicon {
			font-size: 17px;
		}
	}

	a {
		color: #ddd;
		text-decoration: none;

		&:hover {
			color: desaturate(lighten(@hoverColor, 30%), 20%);
		}
	}

	@media @mobile {
		width: auto;
		a { color: @mobileLinkColor; pointer-events: none; }
	}
}

/* Header ------------------------------------------------------------------ */

#bug {
	position: absolute;
	top: 15px;
	left: 5px;
	text-decoration: none;

	@media @mobile { display: none; }

	h1, h2, h3 {
		margin: 0 0 0 10px;
		padding: 0;
		color: rgba(255, 255, 255, 0.1);
		text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
		font-family: 'Oswald', Impact, Arial, sans-serif;
		text-rendering: optimizeLegibility;
		font-weight: normal;
		line-height: 1em;
	}
	h1 { font-size: 40px; }
	h2 { font-size: 13px; letter-spacing: 5px; text-transform: uppercase; padding-left: 5px; color: rgba(255, 255, 255, 0.2); }
	h3 {
		position: absolute;
		top: 39px;
		left: 6px;
		margin: 0;
		white-space: nowrap;
		font-size: 46px;
		font-family: 'Qwigley', Tahoma, Arial, sans-serif;
	}

	&:hover {
		h1, h2, h3 { text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.7); .transition(); }
		h1 { color: rgba(255, 255, 255, 0.2); }
		h3 { color: rgba(255, 100, 100, 0.6); }
		h2 { color: rgba(255, 255, 255, 0.4); }
	}
}

#links, #tag-navigation {
	position: absolute;
	font-family: @sanSerifFont;
	left: 50%;
	margin-left: (@contentWidth / 2) + 8;

	@media @mobile { display: none; }

	a {
		display: block;
		color: @trimColor;
		text-decoration: none;
		font-size: 17px;
		padding-bottom: 4px;
		text-rendering: optimizeLegibility;

		&:hover, &:active { text-decoration: underline; color: desaturate(lighten(@hoverColor, 40%), 20%); }
	}
}

#tag-navigation {
	top: 170px;
	color: @lightColor;

	li {
		&.Where { display: none; }
		&.head { font-size: 17px; font-weight: bold; color: desaturate(lighten(@hoverColor, 40%), 20%); }
		&.title { font-size: 15px; font-weight: bold; margin: 5px; }

		.glyphicon { margin-right: 5px; color: @trimColor; }

		ul {
			margin: 2px 0 0 10px;

			li {
				font-weight: normal;
				color: @lightTrimColor;
				a { display: inline; font-weight: normal; padding-right: 5px; }
			}
		}
	}
}

#links {
	top: 3px;

	.twitter {
		height: 22px;
		width: 65px;
		position: absolute;
		right: 15px;
		top: 35px;
	}

	a.feed-icon {
		background: url(/img/feed-icon-14x14.png) no-repeat;
		margin-top: 3px;
		padding-left: 18px;
		line-height: 1em;
	}

	div.google-search {
		@width: (@imageWidth - @contentWidth) / 2;
		@buttonWidth: 50px;

		width: @width;
		height: 30px;
		margin-left: -1px;

		div.gsc-control-searchbox-only {
			@width: (@imageWidth - @contentWidth) / 2;
			@buttonWidth: 50px;

			form.gsc-search-box {
				table.gsc-search-box {
					width: auto;
					line-height: 14px;

					td {
						padding: 0;
						margin: 0;

						&.gsc-input {
							div.gsc-input-box {
								width: @width - @buttonWidth;
								position: relative;
								border-color: #000;
								border-right: none;
								.inner-shadow(1px, 1px, 2px, 0.4);

								table {
									margin: 5px 0 0 5px;

									td {
										padding-right: 10px;

										input.gsc-input {
											font-size: 14px;
											font-family: @sanSerifFont;
										}
										/* cancel button */
										div a span.gscb_a { position: absolute; top: -5px; right: 0; }
									}
								}
							}
						}

						&.gsc-search-button {
							width: @buttonWidth;
							vertical-align: top;

							input.gsc-search-button {
								margin: 0;
								background-color: @trimColor;
								border-color: #000;
								border-left: none;
								padding: 6px 8px;
								.border-radius(3px, 3px);

								&:hover {
									background-color: @lightTrimColor;
								}
							}
						}

						&.gsc-clear-button {
							div.gsc-clear-button { }
						}
					}
				}
			}

			table.gsc-branding {
				td.gsc-branding-user-defined { }
				td.gsc-branding-text { div { } }
				td.gsc-branding-img { img { } }
			}
		}
	}

	.twitter-follow-button { margin-top: 7px; }
}

#header {
	position: relative;

	// most menu settings are in post-menu.less
	#post-menu-button {
		bottom: 3px;
		left: 6px;
		@media @mobile { display: none; }
	}
	#post-menu { top: 66px; left: 6px; }

	// header without subtitle or date
	&.simple #top {
		height: @headerHeight - 25;
		background-position: (@contentWidth - 90) -15px;
		@media @mobile {
			background-image: none;
			height: @mobileHeaderHeight - 15;
		}
	}

	#top {
		height: @headerHeight;
		width: 100%;
		position: relative;
		padding: 0;
		margin: 0;
		z-index: 200;
		background: @lightColor url(/img/logo.png) no-repeat (@contentWidth - 95);
		border-bottom: 1px solid @lightTrimColor;
		text-rendering: optimizeLegibility;

		h1 {
			margin-left: 7px;
			font-family: @headerFont;
			letter-spacing: -1px;
			font-weight: 700;
			font-size: 34px;
			line-height: 1em;
			color: @boldColor; /* 423938 or 5e685c */
			text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
			float: left;
			vertical-align: top;
			margin-top: 5px;

			.glyphicon {
				padding: 0 5px 0 1px;
				.opacity(0.8);
			}
		}

		.subtitle {
			font-family: @sanSerifFont;
			color: @boldColor;
			letter-spacing: -1px;
			padding: 0 0 0 7px;
			font-size: 22px;
			float: left;
			line-height: 18px;
			text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);

			.parts {
				display: block;
				font-size: 15px;
				padding: 2px 0 0 1px;
				line-height: 18px;
				letter-spacing: 0;
			}
		}

		@media @mobile {
			height: @mobileHeaderHeight;
			background-image: none;
			background-color: #666;
			border-bottom: none;

			h1 {
				font-size: 38px;
				font-weight: 400;
				letter-spacing: 0;
				color: @mobileTextColor;
				text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
			}
			.subtitle {
				padding-top: 4px;
				color: @mobileTextColor;
				text-shadow: none;

				.parts {
					padding-bottom: 2px;
				}
			}
		}

		a { color: #4e584c; }
	}

	#post-date, .video-link {
		position: absolute;
		font-family: @sanSerifFont;
	}

	#post-date {
		top: @headerHeight - 26;
		right: 63px;
		z-index: 200;
		font-weight: bold;
		font-size: 14px;
		color: lighten(@boldColor, 10%);

		@media @mobile {
			color: darken(@mobileTextColor, 30%);
			font-size: 18px;
			top: @mobileHeaderHeight + 10;
			right: 10px;
		}
	}

	.video-link {
		position: absolute;
		right: 15px;
		top: @headerHeight + 14;
		height: 20px;
		text-transform: uppercase;
		text-decoration: none;
		letter-spacing: 1px;
		font-size: 12px;
		line-height: 16px;
		z-index: 21;
		color: #fff;
		padding: 4px 6px 0 8px;
		.gradient(#800, #810, #966);
		.rounded(3px);
		.opacity(0.7);
		
		.glyphicon { margin-right: 6px; }

		&:hover { .opacity(1); }

		@media @mobile {
			//top: @mobileHeaderHeight + 18;
			display: none;
		}
	}

	.synopsis {
		background-color: rgba(255, 255, 255, 0.5);
		.border-radius(10px, 0, 0, 10px);
		font-weight: normal;
		line-height: 1.1em;
		font-family: @serifFont;
		font-size: 15px;
		text-align: justify;
		margin: 13px 35px 0 35px;
		padding: 1.2em 2em 1em 2em;
		color: @boldColor;
		text-rendering: optimizeLegibility;

		p { margin: 0; padding: 0; }

		@media @mobile {
			color: #ddd;
			background-color: transparent;
			font-size: 18px;
			text-align: left;
			// space for navigation
			padding: 0;
			margin: 10px 40px 85px 40px;
		}
	}

	div.map {
		position: relative;
		background-color: rgb(210, 216, 172);
		border-top: 1px solid @trimColor;
		text-align: center;
		width: 100%;
		padding: 0;
		margin: 0;

		@media @mobile { display: none; }
	}
}

div.by-line {
	position: relative;
	text-align: right;
	font-family: 'Qwigley', Tahoma, Arial, sans-serif;
	font-size: 55px;
	font-weight: normal;
	line-height: 40px;
	color: @boldColor;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

	p { padding: 15px 20px 20px 0; }

	span { font-size: 35px; padding-right: 5px; }

	@media @mobile {
		text-align: center;
		color: @mobileTextColor;
	}
}

div.tag-wrapper {
	@height: 22px;
	@mobileHeight: @height + 14;

	width: 100%;
	height: @height;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-align: center;
	position: relative;
	border: none;
	background-color: @trimColor;
	font-family: @sanSerifFont;
	line-height: 10px;
	.drop-shadow(0, 0, 2px, 0.4);

	@media @mobile {
		background-color: #666;
		height: @mobileHeight;
		line-height: @mobileHeight - 5;
	}

	.glyphicon {
		position: absolute;
		top: 3px;
		right: 6px;
		font-size: @height - 6;
		color: rgba(255, 255, 255, 0.4);

		@media @mobile {
			font-size: @mobileHeight - 9;
			top: 5px;
			right: 10px;
			color: rgba(255, 255, 200, 0.4);
		}
	}

	ul.tags {
		list-style: none;
		padding: 0;
		margin: 0 auto 0 auto;
		white-space: nowrap;

		li {
			font-size: 13px;
			font-weight: normal;
			color: #fff;
			display: inline-block;
			padding: 0;
			margin: 0;
			line-height: @height - 4;
			vertical-align: bottom;
			text-rendering: optimizeLegibility;

			@media @mobile {
				font-size: 17px;
				padding-top: 3px;
				line-height: @mobileHeight - 8;
			}

			&.label {
				padding-bottom: 4px;
				margin-left: 0;
				font-weight: bold;
				text-shadow: 1px 0 2px rgba(0, 0, 0, 0.5);

				@media @mobile { display: none; }
			}

			a {
				height: @height;
				display: block;
				padding: 2px 4px 0;
				text-decoration: none;
				background-color: lighten(@trimColor, 7%);
				color: #fff;

				&:hover {
					color: desaturate(lighten(@hoverColor, 55%), 20%);
					background-color: darken(@trimColor, 10%);
				}

				@media @mobile {
					height: @mobileHeight - 8;
					color: @trimColor;
					background-color: rgba(255, 255, 255, 0.7);
					padding: 0 8px;
					border: 1px solid @trimColor;
					.rounded(8px);

					pointer-events: none;
				}
			}
		}
	}
}

.footer-tags {
	margin: 0 auto;

	div.tag-wrapper {
		.drop-shadow(0, 0, 7px, 0.6);
	}

	@media @mobile {
		margin: 0;
		div.tag-wrapper { .box-shadow(none); }
	}
}

div.gas {
	position: absolute;
	display: none;
	padding: 20px 0;
	margin: 0;
	right: 1px;
}

/* Photos ------------------------------------------------------------------ */

div.video {
	margin: 0 auto 1px auto;

	@maxWidth: 1032px;
	@minWidth: 650px;
	@ratio: @minWidth / @maxWidth;
	@tooWide: (@maxWidth - @minWidth) / 2;

	@media @mobile {
		margin: -100px -@tooWide -70px -@tooWide;
		padding: 0;
		transform: scale(unit(@ratio), unit(@ratio));
	}

	iframe {
		background-color: #000;
		padding: 4px;
	}
}

div.photo {
	margin: 0 auto;
	text-align: center;
	position: relative;
	padding: 0 9px 0 0;
	z-index: 100;

	img	{
		border: 1px solid #000;
		background-color: #fff;
		padding: 4px;
		margin: 0;
		cursor: pointer;
		z-index: 20;
		.drop-shadow(0, 0, 10px, 0.4);
	}

	@media @mobile {
		margin: 0 auto 10px auto;
		padding: 0;

		img {
			border: none;
			padding: 0;
			.box-shadow(none);
			width: auto;
		}
	}

	div.tags {
		position: absolute;
		left: 5px;
		bottom: 100px;
		color: #fff;
		background-color: #000;
		margin-right: 4px;
		padding: 5px 5px 5px 30px;
		.opacity(0.6);
		display: none;
		text-align: left;
		font-size: 15px;

		@media @mobile { left: 0; }

		h4 {
			display: none;
			position: absolute;
			font-family: @sanSerifFont;
			font-weight: normal;
			font-size: 10px;
			line-height: 10px;
			margin: 0;
			padding: 0;
			top: 2px;
			left: 4px;
		}

		.glyphicon {
			position: absolute;
			top: 10px;
			left: 10px;
		}

		a {
			color: #fff;
			font-family: @sanSerifFont;
			line-height: 22px;
			padding: 7px;
			text-decoration: none;
			white-space: nowrap;

			&:hover { color: #ff0; text-decoration: underline; }
		}
	}

	div.exif {
	  	position: absolute;
	  	top: 5px;
		right: 5px;
		color: #fff;
		background-color: #000;
		padding: 2px 5px;
		font-family: @sanSerifFont;
		font-size: 15px;
		font-weight: normal;
		display: none;
		text-align: center;
		.opacity(0.6);
		.border-radius(0, 0, 3px);

		@media @mobile { top: 0; right: 0; }

		p, .glyphicon {
			cursor: progress;
			font-weight: normal;
		}

		p {
			display: inline;
			line-height: 1.3em;
			padding: 0 4px 0 27px;
		}

		.glyphicon {
			position: absolute;
			top: 2px;
			left: 6px;
			color: @trimColor;
			font-size: 21px;

			&.glyphicon-download {
				top: 6px;
				font-size: 17px;
			}
		}

		ul {
			list-style: none;
			cursor: help;
			margin: 4px 4px 6px 8px;
			padding: 0;

			li {
				padding-top: 1px;

				&.camera { font-size: 16pt; margin-bottom: 3px; font-weight: bold; color: rgba(255, 255, 255, 0.6); }
				&.focal-length { font-size: 12pt; line-height: 1em; }
				&.iso { margin-top: 10px; }
				&.software { margin-top: 10px; }
			}
		}
	}

	a.map {
		display: block;
		background-color: #fff;
		color: #000;
		padding: 2px 23px 2px 5px;
		font-family: @sanSerifFont;
		font-size: 20px;
		line-height: 17px;
		text-decoration: none;
		letter-spacing: -2px;
		position: absolute;
		border: 1px solid @boldColor;
		.rounded(5px);
		.opacity(0.2);
		right: 11px;
		bottom: 12px;
		z-index: 30;

		.glyphicon {
			position: absolute;
			right: 4px;
			top: 2px;
			font-size: 18px;
			padding-left: 1px;
			color: rgba(0, 0, 0, 0.4);
		}

		@media @mobile { display: none; }
	}

	&:hover, &:active {
		a.map {
			.opacity(0.7);
			.glyphicon { color: rgba(255, 0, 0, 0.5); }

			&:hover, &:active {
				.opacity(1);
				.glyphicon { color: rgba(255, 0, 0, 1); }
			}
		}
		div.exif, div.tags { display: block; }
		p span { color: #000; }
	}

	p {
		display: block;
		position: relative;
		font-family: @sanSerifFont;
		font-size: 18px;
		font-weight: bold;
		z-index: 55;
		margin: -17px auto 0 auto;
		width: 100%;
		letter-spacing: -1px;

		span {
			margin-top: -10px;
			background-color: #fff;
			white-space: nowrap;
			color: rgba(0, 0, 0, 0.7);
			border: 1px solid #666;
			.opacity(0.8);
			padding: 0 10px 1px 10px;
		}

		@media @mobile {
			//margin-top: -20px;

			span {
				border: none;
				.rounded(15px);
				padding-top: 2px;
				background-color: rgba(255, 255, 255, 0.5);
			}
		}
	}
}

div.shadow {
	position: relative;
	z-index: -1;
	height: 7px;
}

div.caption {
	margin-top: 0;
	line-height: 1.3em;
	padding: 4px 0 0 0;
	font-size: @fontSize;

	@media @mobile {
		padding-top: 0;
		font-size: @fontSize + 6;
		line-height: 1.2em;
	}

	sup	{
		color: @footnoteColor;
		vertical-align: top;
		line-height: 1em;
		font-family: @sanSerifFont;
		font-size: 18px;
		cursor: help;

		@media @mobile {
			color: @mobileFootnoteColor;
		}
	}

	.tab { display: inline-block; width: 2em; }

	blockquote {
		font-size: @fontSize - 1;
		background-image: url(/img/left-quote.png);
		background-repeat: no-repeat;
		background-position: left top;
		margin: 1em;
		text-align: justify;

		&.poem {
			font-family: @serifFont;
			padding-left: 6em;
			line-height: 1.2em;
			margin-bottom: 1em;
			text-align: left;
		}

		p {
			padding: 0 4em 0.5em 4em;
			//text-indent: 0;
			line-height: 1.1em;
			color: #444;
		}

		@media @mobile {
			margin-bottom: 0;
			text-align: left;
			p {
				color: @mobileTextColor;
				line-height: 1.3em;
				padding: 0 3em 0.5em 3em;
			}
		}
	}

	p {
		text-indent: 2em;
		font-family: @serifFont;
		margin: 0;
		padding: 0 2em 0.3em 2em;

		&:first-child, &.first {
			text-indent: 0;
			padding-top: 1.4em;
			@media @mobile { padding-top: 0.5em; }
		}
		&:last-child { padding-bottom: 2em; }

		@media @mobile { padding: 0 1em 0.3em 1em; }

		&.quip {
			&:first-child, &.first { text-indent: 2em; }
		}

		&.note {
			text-indent: 0;
			text-align: center;
			background-color: #fff;
			font-size: small;
			border: 1px solid #bfc1bf;
			margin: 0 4em;
			padding: 1em;
		}

		&.poem {
			padding-left: 3em;
			line-height: 1.3em;
			//margin-bottom: 1em;
			font-size: 18px;

			.drop-cap {
				font-size: 36pt;
				padding: 0 3px 0 0;
				float: left;
				line-height: 33pt;
			}
		}

		&.haiku {
			font-style: italic;
			font-size: 22px;
			text-indent: 0;
			padding: 10px 0 15px 65px;
			line-height: 1.1em;

			.glyphicon {
				display: block;
				position: absolute;
				top: 15px;
				right: 100px;
				color: @trimColor;
				font-size: 70px;
				.opacity(0.3);
			}
		}
	}

	div.footnotes {
		@indent: 20px;
		@mobileIndent: 10px;

		position: relative;
		border-top: 1px solid @trimColor;
		background-color: darken(@lightColor, 5%);
		padding: 5px 20px 10px 0;
		font-family: @sanSerifFont;
		font-size: 13px;
		margin-top: 20px;
		cursor: help;

		.glyphicon {
			color: darken(@lightTrimColor, 6%);
			position: absolute;
			right: 6px;
			top: 3px;
			font-size: 18px;
		}

		p {
			font-family: @sanSerifFont;
			text-indent: -@indent;
			margin: 0 40px;
			padding: 5px 0 0 @indent;
			line-height: 1.2em;

			a { }
		}

		sup {
			display: inline-block;
			text-indent: 0;
			width: @indent;
			margin: 0;
			font-size: 13px;
			line-height: 15px;
			font-weight: bold;
			padding: 0;
			vertical-align: bottom;

			&.title { font-size: @indent; line-height: @indent / 2; vertical-align: bottom; }
		}

		.opacity();

		&:hover {
			background: none;
			.opacity(1);
		}

		@media @mobile {
			padding: 4px 0 10px 0;
			border: none;
			background-color: #333;
			margin: 6px 0 35px 0;
			color: @mobileTextColor;

			.opacity(1);

			.glyphicon { display: none; }

			a { color: @mobileLinkColor; }

			p {
				text-indent: -(@mobileIndent + 15);
				padding: 5px 0 0 @mobileIndent;
				font-size: @fontSize;
				line-height: 0.8em;
			}

			sup {
				font-size: 18px;
				line-height: 21px;
				width: @mobileIndent + 6;
				vertical-align: top;
				padding-right: 4px;

				&.title { font-size: @mobileIndent; line-height: @mobileIndent; vertical-align: bottom; }
			}
		}
	}
}

/* About ------------------------------------------------------------------- */

.about {
	@imageWidth: 401px;

	padding: 0;
	position: relative;

	p {
		padding: 0 1em;
		font-family: @serifFont;
		font-size: 17px;
		line-height: 1.2em;
		margin: 0 0 1em 0;
		&.first { padding-top: 1em; }

		@media @mobile {
			font-size: 24px;
			a { color: @mobileLinkColor; }
		}
	}

	.by-line {
		text-align: center;
		font-size: 48px;
		@media @mobile { margin-bottom: 20px; }
	}

	#right-column {
		float: right;
		width: @imageWidth;
		margin-left: 1em;

		.main-image {
			position: relative;
			margin: 0;
			padding: 0;

			img {
				border: 1px solid #000;
				border-right: none;
			}

			&:hover	{ img { border-color: @hoverColor; } }

			@media @mobile {
				img { border: none; }
				pointer-events: none;
			}
		}

		.feature {
			float: left;
			width: (@imageWidth / 2) - 1;
			font-family: @sanSerifFont;
			font-size: 13px;
			line-height: 1em;
			margin: 0;
			padding: 0 0 0.5em 0;
			clear: right;
			border-left: 1px solid @lightTrimColor;

			h1 {
				line-height: 1em;
				text-align: center;
				font-size: 13pt;
				margin: 0 0 0.5em 0;
				padding: 4px 0;
				color: @boldColor;
				text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
				background-color: @lightColor;
				border-bottom: 1px solid @lightTrimColor;
			}

			a {
				display: block;
				margin: 5px 10px 0 10px;
				text-decoration: none;
			}

			&.technical {
				clear: left;
				width: @imageWidth - 1;
				a { display: inline; margin: 0; }
				p { margin: 0 1em; padding: 0.5em 0; font-family: @sanSerifFont; font-size: 15px; }
				h1 { margin-bottom: 0; border-top: 1px solid @lightTrimColor; }
			}

			@media @mobile {
				border-color: #222;

				h1 {
					color: #888;
					background-color: #222;
					border: none;
					text-shadow: none;
					padding: 10px 0;
				}

				&.technical {
					h1 { border: none; }
					p { line-height: 1.8em; }
				}

				a {
					color: @mobileLinkColor;
					margin: 15px;
				}
			}
		}
	}
}

/* Post tag ---------------------------------------------------------------- */

div#header.post-tag-heading #top {
	height: 65px;

	h1, h4 {
		clear: left;
		float: none;
		line-height: 1em;
		text-rendering: optimizeLegibility;
	}

	h1 {
		margin: 0 0 0 5px;
		padding: 2px 0 0 0;
		font-size: 45px;
		letter-spacing: 0;
	}

	h4 {
		margin: 3px 0 0 8px;
		color: rgba(255, 255, 255, 0.1);
		text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
		font-size: 14px;
		font-family: 'Oswald', Impact, Arial, sans-serif;
		letter-spacing: 8px;
		text-transform: uppercase;
	}

	@media @mobile {
		h4 {
			color: @mobileTextColor;
			//text-shadow: none;
		}
	}
}

div.post-tag {
	margin-top: -20px;

	ul.sets	{
		list-style: none;
		padding: 0;
		margin: 0;
		font-family: @sanSerifFont;

		li.set-summary {
			font-weight: normal;
			clear: left;
			text-shadow: none;
			padding: 0;
			margin: 0;

			div.heading {
				background-color: #fff;
				margin-top: 20px;
				padding: 5px 7px 2px 6px;
				.drop-shadow(0, -2px, 6px, 0.1);

				.mode-icon {
					float: right;
					margin: 3px 15px 0 0;
				}

				ul.info {
					float: right;
					list-style: none;
					li { text-align: right; }
					li.date-taken { font-weight: bold; }
					li.photo-count { font-size: 12px; }
				}

				a.title {
					clear: both;
					display: inline-block;
					padding-top: 7px;
					color: @boldColor;
					font-size: 14pt;
					font-weight: bold;
					text-decoration: none;
					text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
					text-rendering: optimizeLegibility;

					&:hover { color: @hoverColor; }
				}

				@media @mobile {
					background-color: #333;
					a.title, ul.info { color: #fff; }
					a:hover { color: @mobileHoverColor; }
					.mode-icon { display: none; }
				}
			}

			a.thumb {
				margin: 0 20px 0 0;
				float: left;
			}

			a.map {
				margin-left: -20px;
			}

			p.summary {
				margin: 15px 20px 0 20px;
				font-family: @serifFont;
				font-size: 16px;
				line-height: 1.2em;
				text-align: justify;

				@media @mobile {
					text-align: left;
					color: @mobileTextColor;
					font-size: 20px;
				}
			}

			ul.tags {
				float: right;
				list-style: none;
				margin: 0;
				padding: 10px 6px 10px 0;

				@media @mobile {
					padding-left: 7px;
					padding-bottom: 20px;
				}

				li {
					font-size: 16px;
					font-weight: normal;
					color: #888;
					display: block;
					float: left;
					clear: none;
					padding: 1px 4px 0 4px;
					margin-left: 3px;
					line-height: 1em;

					@media @mobile {
						font-size: 18px;
						padding: 0 1px;
						margin: 0 0 10px 0;
					}

					a {
						text-decoration: none;

						.glyphicon { .opacity(0.2); padding-right: 2px; }

						&:hover .glyphicon { .opacity(1); }

						@media @mobile {
							color: #fff;
							padding: 3px 8px 2px 6px;
							background-color: #888;
							border: 1px solid #000;
							.glyphicon { margin: 4px 0 0 0; }
							.rounded(6px);
						}
					}
				}
			}
		}
	}
}

#photo-tag {
	@thumbWidth: 150px;
	@tabWidth: 40px;
	@viewWidth: (@thumbWidth + 5) * 3;
	@mobileTabWidth: 28px;

	@media @mobile { a { color: @mobileLinkColor; } }

	#flickr-logo {
		position: absolute;
		top: -45px;
		right: 100px;
		z-index: 200;
		text-decoration: none;
		display: block;
		text-align: center;

		@media @mobile { top: -60px; }
	}

	#wait {
		position: absolute;
		display: none;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(255, 255, 255, 0.8);
		z-index: 500;
		cursor: wait;
	}

	ul#letters {
		list-style: none;
		float: left;
		margin: 5px 0 0 -@tabWidth;
		padding: 0;

		li {
			display: block;
			width: @tabWidth;
			padding: 5px 0;
			margin-bottom: 2px;
			text-align: center;
			font-size: 24px;
			font-weight: bold;
			cursor: pointer;
			text-transform: uppercase;
			color: #fff;
			background-color: @trimColor;
			z-index: 200;
			text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
			.border-radius(0, 0, 4px, 4px);

			&:hover { background-color: @boldColor; }
			&.selected { color: #400;; background-color: rgba(255, 255, 255, 0.9); }
		}

		@media @mobile {
			margin: 0;

			li {
				width: @mobileTabWidth;
				background-color: #444;
				text-shadow: none;
				padding: 25px 0;
				.rounded(0);

			}
		}
	}

	#tag-index {
		float: left;
		margin: 0;
		width: @contentWidth - (@viewWidth + 7);
		overflow: hidden;

		div {
			display: none;
			margin: 7px 0;
			padding: 0;

			a {
				text-decoration: none;
				display: block;
				padding-left: 5px;
				white-space: nowrap;
				font-size: 14px;
				line-height: 1.3em;

				&.selected {
					background-color: #ff9;
				}
			}
		}

		@media @mobile {
			border-right: 1px solid #333;
			width: @contentWidth - (@viewWidth + @mobileTabWidth + 7);

			div {
				a {
					font-size: 16px;
					line-height: 3em;
					text-align: right;
					
					&.selected {
						background-color: #444;
					}
				}
			}
		}
	}

	#thumbs {
		float: right;
		width: @viewWidth;
		margin: 0 2px 20px 0;

		h4 {
			margin: 10px 0;
			padding: 0;
			font-family: @headerFont;
			font-weight: 700;
			font-size: 22px;
			color: @boldColor; /* 423938 or 5e685c */
			text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
		}

		a {
			padding: 2px 0;
			margin: 0;

			img { margin: 0; padding: 0; border: 1px solid @trimColor; }
			&:hover img { border-color: @hoverColor; }
		}

		@media @mobile {
			h4 {
				color: @mobileTextColor;
				font-weight: 400;
				text-shadow: none;
			}
			a {
				img { border: none; }
			}
		}
	}
}

/* Authorize --------------------------------------------------------------- */

div.authorize {
	margin-top: 20px;

	h4 {
		font-family: @sanSerifFont;
		font-size: 36pt;
		margin: 0 0 0 20px;
		line-height: 1em;
		padding: 0;
		color: @trimColor;
	}

	div {
		font-family: @sanSerifFont;
		font-size: 22pt;
		margin-left: 30px;
	}
}

/* 503 --------------------------------------------------------------------- */

.not-ready {
	p {
		font-size: 24pt;
		text-align: center;
		line-height: 1.5em;
		padding: 0.5em 0;
		color: #fff;
	}
}

/* 404 --------------------------------------------------------------------- */

.not-found {
	height: @contentWidth;
	background-image: url('https://farm3.staticflickr.com/2911/14343924188_3eb2a469f0_b.jpg');

	p {
		font-size: 45px;
		text-align: center;
		line-height: 1.5em;
		padding: 1em;
		color: #fff;
		text-shadow: 0 0 8px rgba(0, 0, 0, 1);
	}
}

/* footer ------------------------------------------------------------------ */

#foot-links {
	position: relative;
	padding: 14px 0 20px 0;
	border-top: 1px solid @trimColor;
	clear: both;
	width: @contentWidth;
	background-color: rgba(255, 255, 255, 0.2);

	@media @mobile { background: #444; }

	.inner-shadow(0, 2px, 2px, 0.1);

	p {
		text-align: center;
		color: rgba(255, 255, 255, 0.6);
		font-weight: normal;
		font-family: @sanSerifFont;
		font-size: 13px;
		text-indent: 0;
		padding: 0;
		margin: 2px;

		a { color: @lightColor; }

		&.rights { font-size: 14px; };
	}
}