@import "elements";
@import "glyphicons";

/* http://blog.scur.pl/2012/06/variable-media-queries-less-css/ */

/* https://github.com/acdvorak/intellij-lessc-plugin */
@sanSerifFont: 'Droid Sans', Trebuchet MS, Tahoma, Arial;
@serifFont: 'Lora', Georgia, Times;
@fontSize: 16px;
@headerHeight: 70px;
@mobileHeaderHeight: @headerHeight + 33;
@imageWidth: 1034px;	/* includes borders */
@contentWidth: 650px;
@mobileWidth: 1024px;
@boldColor: #524948;
@trimColor: #747e73;
@lightTrimColor: #bfc1bf;
@lightColor: #dfe1df;
@hoverColor: #910;
@footnoteColor: #900;
/* http://codepen.io/ericrasch/pen/HzoEx and http://blog.scur.pl/2012/06/variable-media-queries-less-css/ */
@small: ~"only screen and (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 700px) and (max-width: 1200px)",
	    ~"only screen and (min--moz-device-pixel-ratio: 1.5) and (min-width: 700px) and (max-width: 1200px)",
	    ~"only screen and (-o-min-device-pixel-ratio: 3/2) and (min-width: 700px) and (max-width: 1200px)",
	    ~"only screen and (min-device-pixel-ratio: 1.5) and (min-width: 700px) and (max-width: 1200px)";

html
{
	overflow-y: scroll;
	overflow: -moz-scrollbars-vertical;
	/*-webkit-font-smoothing: subpixel-antialiased;*/
}

body
{
	margin: 0;
	padding: 0;
	position: relative;
	font-size: small;
	color: #333;
	line-height: 1.3em;
	background: #222 url(/img/topo-map-tile.jpg) repeat;

	@media @small
	{
		background: none;
		width: @mobileWidth;
		overflow: hidden;
	}
}

a
{
	text-decoration: underline;
	&:link { color: #453; }
	&:visited { color: #453; }
	&:hover { color: @hoverColor; }
	&:active { color: #964; }
}

#content
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	z-index: -1;
	background-color: rgba(255, 255, 255, 0.9);
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	width: @contentWidth;
	margin-left: ((@contentWidth + 2) / -2);
	.drop-shadow(0, 6px, 6px, 0.8);

	@media @small
	{
		left: 0;
		right: 0;
		border: none;
		background-color: #fff;
		width: @mobileWidth;
		margin: 0;
		.box-shadow(none);
	}
}

.content
{
	position: relative;
	font-family: @sanSerifFont;
	font-weight: normal;
	text-align: left;
	margin: 0 auto;
	padding: 0;
	width: @contentWidth;

	@media @small
	{
		width: @mobileWidth;
		margin: 0;
	}
}

.clear { clear: both; }

/* Social ------------------------------------------------------------------ */

#fb-root { position: absolute; }

.fb-script { position: absolute; }

.fb-like
{
	position: relative;
	padding: 4px 0 2px 7px;
	height: 22px;
	/*overflow: hidden;*/
	z-index: 20;
}

div.fb-comments
{
	width: 100%;

	.fbFeedBackContent
	{
		.fbFeedBackContentHeader
		{
			div.fbModeratorOptions
			{
				margin-left: 10px !important;
			}
		}
		form.mainContentForm
		{
			img.viewerProfilePic { }
			label.fbCommentButton { }
		}

		div.fbFooterBorder
		{

		}
	}
}

/* Navigation -------------------------------------------------- */

div.next
{
	left: 50%;
	margin-left: (@contentWidth / 2) + 10;
}

div.previous
{
	right: 50%;
	margin-right: (@contentWidth / 2) + 10;
	text-align: right;
}

div.next, div.previous
{
	width: (@imageWidth - @contentWidth) / 2;
	margin-top: 30px;
	position: absolute;
	font-family: @sanSerifFont;
	font-size: 16px;

	@media @small {	display: none; }

	h4
	{
		color: #777;
		margin: 0 0 2px 0;
		font-size: 22px;
		line-height: 1em;

		.glyphicon
		{
			font-size: 17px;
		}
	}
	a
	{
		color: #ddd;
		text-decoration: none;
		&:hover { text-decoration: underline; }
	}
}

/* Header ------------------------------------------------------ */

#bug
{
	position: absolute;
	top: 15px;
	left: 5px;
	text-decoration: none;

	@media @small {	display: none; }

	h1, h2, h3
	{
		margin: 0 0 0 10px;
		padding: 0;
		color: rgba(255, 255, 255, 0.1);
		text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
		font-family: 'Oswald', Impact, Arial;
		font-weight: normal;
		line-height: 1em;
	}
	h1 { font-size: 40px; }
	h2 { font-size: 13px; letter-spacing: 5px; text-transform: uppercase; padding-left: 5px; color: rgba(255, 255, 255, 0.2); }
	h3
	{
		position: absolute;
		top: 39px;
		left: 6px;
		margin: 0;
		white-space: nowrap;
		font-size: 46px;
		font-family: 'Qwigley', Tahoma, Arial;
	}

	&:hover
	{
		h1, h2, h3 { text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.7); .transition(); }
		h1, h3 { color: rgba(255, 255, 255, 0.2); }
		h2 { color: rgba(255, 255, 255, 0.4); }
	}
}

#links
{
	position: absolute;
	font-family: @sanSerifFont;
	top: 3px;
	left: 50%;
	margin-left: (@contentWidth / 2) + 8;

	@media @small {	display: none; }

	.twitter
	{
		height: 22px;
		width: 65px;
		position: absolute;
		right: 15px;
		top: 35px;
	}

	a
	{
		display: block;
		color: @trimColor;
		text-decoration: none;

		&:hover { text-decoration: underline; color: @lightColor; }

		&.feed-icon
		{
			background-image: url(/img/feed-icon-14x14.png);
			background-repeat: no-repeat;
			margin-top: 3px;
			padding-left: 18px;
			line-height: 1em;
		}
	}

	div.google-search
	{
		@width: (@imageWidth - @contentWidth) / 2;
		@buttonWidth: 50px;

		width: @width;
		height: 30px;
		margin-left: -1px;

		div.gsc-control-searchbox-only
		{
			@width: (@imageWidth - @contentWidth) / 2;
			@buttonWidth: 50px;

			form.gsc-search-box
			{
				table.gsc-search-box
				{
					width: auto;
					line-height: 14px;

					td
					{
						padding: 0;
						margin: 0;

						&.gsc-input
						{
							div.gsc-input-box
							{
								width: @width - @buttonWidth;
								position: relative;
								border-color: #000;
								border-right: none;
								.inner-shadow(1px, 1px, 2px, 0.4);

								table
								{
									margin: 5px 0 0 5px;

									td
									{
										padding-right: 10px;

										input.gsc-input
										{
											font-size: 14px;
											font-family: @sanSerifFont;
										}
										/* cancel button */
										div a span.gscb_a { position: absolute; top: -5px; right: 0; }
									}
								}
							}
						}

						&.gsc-search-button
						{
							width: @buttonWidth;
							vertical-align: top;

							input.gsc-search-button
							{
								margin: 0;
								background-color: @trimColor;
								border-color: #000;
								border-left: none;
								padding: 6px 8px;
								.border-radius(3px, 3px);

								&:hover
								{
									background-color: @lightTrimColor;
								}
							}
						}

						&.gsc-clear-button
						{
							div.gsc-clear-button
							{

							}
						}
					}
				}
			}

			table.gsc-branding
			{
				td.gsc-branding-user-defined { }
				td.gsc-branding-text { div { } }
				td.gsc-branding-img { img { } }
			}
		}
	}

	.twitter-follow-button { margin-top: 7px; }
}

#header
{
	position: relative;

	#top
	{
		height: @headerHeight;
		width: 100%;
		background-color: @lightColor;
		position: relative;
		padding: 0;
		margin: 0;
		z-index: 10;
		background-image: url(/img/logo.png);
		background-repeat: no-repeat;
		background-position: (@contentWidth - 95);
		border-bottom: 1px solid @lightTrimColor;

		@media @small
		{
			height: @mobileHeaderHeight;
			background-position: bottom right;
		}

		#menu
		{
			position: absolute;
			bottom: 3px;
			left: 5px;

			@media @small {	bottom: 4px; }

			select
			{
				font-family: @sanSerifFont;
				font-size: 16px;
				background-color: #eff1ef;
				border: 1px solid @trimColor;

				/* option.bullet { color: #444; } */
				optgroup.note { color: #855; font-size: small; }

				@media @small
				{
					font-size: 24px;
					padding: 0 10px;
					text-align: center;
				}
			}
		}

		h1
		{
			margin-left: 7px;
			font-family: 'Oswald', Impact, Arial;
			letter-spacing: -1px;
			font-weight: 700;
			font-size: 34px;
			line-height: 1em;
			color: @boldColor; /* 423938 or 5e685c */
			text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
			float: left;
			vertical-align: top;
			margin-top: 2px;

			.glyphicon
			{
				padding: 0 5px 0 1px;
				.opacity(0.8);
			}

			@media @small
			{
				font-size: 50px;
				line-height: 1.1em;
			}
		}

		.subTitle
		{
			font-family: @sanSerifFont;
			color: @boldColor;
			letter-spacing: -1px;
			padding: 1px 0 0 7px;
			font-size: 22px;
			float: left;
			line-height: 18px;
			text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);

			@media @small
			{
				font-size: 20pt;
			}

			.parts
			{
				display: block;
				font-size: 15px;
				padding: 3px 0 0 1px;
				line-height: 13px;
				letter-spacing: 0;

				@media @small
				{
					padding-top: 4px;
					font-size: 14pt;
				}

			}
		}

		a { color: #4e584c; }
	}

	#setDate, .videoLink
	{
		position: absolute;
		font-family: @sanSerifFont;
	}

	#setDate
	{
		top: @headerHeight - 26;
		right: 63px;
		z-index: 200;
		font-weight: bold;
		font-size: 14px;
		color: lighten(@boldColor, 10%);

		@media @small
		{
			font-size: 20px;
			right: 74px;
			top: @mobileHeaderHeight - 34;
		}
	}

	.videoLink
	{
		position: absolute;
		right: 8px;
		top: @headerHeight + 6;
		height: 16px;
		text-transform: uppercase;
		text-decoration: none;
		letter-spacing: 1px;
		font-size: 12px;
		line-height: 12px;
		z-index: 21;
		color: #fff;
		padding: 1px 4px 0;
		.gradient(#800, #810, #966);
		.rounded(3px);
		.opacity(0.7);
		
		.glyphicon { margin-right: 6px; }

		&:hover { .opacity(1); }

		@media @small
		{
			display: none;
			top: @mobileHeaderHeight + 18;
			font-size: 18pt;
		}
	}

	.synopsis
	{
		background-color: rgba(255, 255, 255, 0.5);
		font-weight: normal;
		line-height: 1em;
		font-family: @sanSerifFont;
		letter-spacing: -0.5px;
		font-size: 15px;
		text-align: justify;
		margin: 0 45px;
		padding: 0.5em 1em;
		color: @boldColor;

		@media @small
		{
			background-color: lighten(@lightColor, 7%);
			text-align: left;
			font-size: 16pt;
		}

		p { margin: 0; padding: 0; }
	}

	div.map
	{
		position: relative;
		background-color: rgb(210, 216, 172);
		border-top: 1px solid @trimColor;
		text-align: center;
		width: 100%;
		padding: 0;
		margin: 0;

		@media @small { display: none; }
	}
}

div.by-line
{
	position: relative;
	text-align: right;
	font-family: 'Qwigley', Tahoma, Arial;
	font-size: 55px;
	font-weight: normal;
	line-height: 40px;
	color: @boldColor;
	padding: 0 30px 20px 0;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

	span { font-size: 35px; padding-right: 5px; }

	@media @small
	{
		font-size: 80px;
		line-height: 55px;
		padding-top: 10px;
	}
}

div.tag-wrapper
{
	@height: 17px;
	@mobileHeight: @height + 30;

	width: 100%;
	height: @height;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-align: center;
	position: relative;
	border: none;
	background-color: @trimColor;
	font-family: @sanSerifFont;
	line-height: 10px;
	.drop-shadow(0, 0, 2px, 0.4);

	.glyphicon
	{
		position: absolute;
		top: 3px;
		right: 6px;
		font-size: @height - 6;
		color: rgba(255, 255, 255, 0.4);
	}

	@media @small
	{
		height: @mobileHeight;
		.box-shadow(none);
		.glyphicon { top: 8px; right: 15px; font-size: @mobileHeight - 15; }
	}

	ul.tags
	{
		list-style: none;
		padding: 0;
		margin: 0 auto 0 auto;
		white-space: nowrap;

		@media @small
		{
			border: none;
		}

		li
		{
			font-size: 13px;
			font-weight: normal;
			color: #fff;
			display: inline-block;
			padding: 0;
			margin: 0;
			line-height: @height - 4;
			vertical-align: bottom;

			@media @small
			{
				padding-top: 2px;
				font-size: 28px;
				line-height: @mobileHeight - 10;
			}

			&.label
			{
				padding-bottom: 4px;
				margin-left: 0;
				font-weight: bold;
				text-shadow: 1px 0 2px rgba(0, 0, 0, 0.5);

				@media @small
				{
					padding-bottom: 1px;
					text-spacing: -1px;
				}
			}

			a
			{
				height: @height;
				display: block;
				padding: 2px 4px 0;
				text-decoration: none;
				background-color: lighten(@trimColor, 7%);
				color: #fff;

				&:hover
				{
					background-color: darken(@trimColor, 10%);
				}

				@media @small
				{
					height: @mobileHeight - 8;
					color: @trimColor;
					background-color: #fff;
					padding: 0 8px;
					border: 1px solid @trimColor;
					.rounded(4);
				}
			}
		}
	}
}


.footer-tags
{
	margin: 10px auto;

	div.tag-wrapper
	{
		.drop-shadow(0, 0, 7px, 0.6);
	}
	@media @small
	{
		margin: 0;
		div.tag-wrapper { .box-shadow(none); }
	}
}

div.gas
{
	position: absolute;
	display: none;
	padding: 20px 0;
	margin: 0;
	right: 1px;
}

/* Photos ------------------------------------------------- */

div.video
{
	margin: 5px auto 1px auto;

	iframe
	{
		background-color: #000;
		padding: 4px;

		@media @small { padding: 1px; }
	}
}

div.photo
{
	margin: 0 auto 1px auto;
	text-align: center;
	position: relative;
	padding: 0 9px 0 0;

	img
	{
		border: 1px solid #000;
		background-color: #fff;
		padding: 4px;
		margin: 0;
		cursor: pointer;
		z-index: 20;
		.drop-shadow(0, 0, 10px, 0.4);
	}

	@media @small
	{
		margin: 0;
		padding: 0;

		img
		{
			border: none;
			padding: 0;
			.box-shadow(none);
		}
	}

	div.exif
	{
	  	position: absolute;
	  	top: 5px;
		right: 5px;
		color: #fff;
		background-color: #000;
		padding: 2px 5px;
		font-family: @sanSerifFont;
		font-size: 15px;
		font-weight: normal;
		display: none;
		text-align: center;
		.opacity(0.6);
		.border-radius(0, 0, 3px);

		@media @small
		{
			font-size: 20px;
		}

		p, .glyphicon
		{
			cursor: progress;
			font-weight: normal;
		}

		p
		{
			display: inline;
			line-height: 1.3em;
			padding: 0 4px 0 27px;
		}

		.glyphicon
		{
			position: absolute;
			top: 2px;
			left: 6px;
			color: @trimColor;
			font-size: 21px;

			&.glyphicon-download
			{
				top: 6px;
				font-size: 17px;
			}
		}

		ul
		{
			list-style: none;
			cursor: help;
			margin: 4px 4px 6px 8px;
			padding: 0;

			li
			{
				padding-top: 1px;

				&.camera { font-size: 16pt; margin-bottom: 3px; font-weight: bold; color: rgba(255, 255, 255, 0.6); }
				&.focal-length { font-size: 12pt; line-height: 1em; }
				&.iso { margin-top: 10px; }
				&.software { margin-top: 10px; }
			}
		}
	}

	a.map
	{
		display: block;
		background-color: #fff;
		color: #000;
		padding: 2px 23px 2px 5px;
		font-family: @sanSerifFont;
		font-size: 20px;
		line-height: 17px;
		text-decoration: none;
		letter-spacing: -2px;
		position: absolute;
		border: 1px solid @boldColor;
		.rounded(5px);
		.opacity(0.2);
		right: 11px;
		bottom: 12px;
		z-index: 30;

		.glyphicon
		{
			position: absolute;
			right: 4px;
			top: 2px;
			font-size: 18px;
			padding-left: 1px;
			color: rgba(0, 0, 0, 0.4);
		}

		@media @small
		{
			font-size: 36px;
			.rounded(10px);
			padding: 10px 34px 14px 10px;

			.glyphicon { top: 6px; font-size: 30px; }
		}

	}

	&:hover
	{
		a.map
		{
			.opacity(0.7);
			.glyphicon { color: rgba(255, 0, 0, 0.5); }

			&:hover
			{
				.opacity(1);
				.glyphicon { color: rgba(255, 0, 0, 1); }
			}
		}
		div.exif { display: block; }
		p span { color: #000; }
	}

	p
	{
		display: block;
		position: relative;
		font-family: @sanSerifFont;
		font-size: 13pt;
		font-weight: bold;
		z-index: 55;
		margin: -17px auto 0 auto;
		width: 100%;
		letter-spacing: -1px;

		span
		{
			margin-top: -10px;
			background-color: #fff;
			white-space: nowrap;
			color: rgba(0, 0, 0, 0.7);
			border: 1px solid #666;
			.opacity(0.8);
			padding: 0px 10px 1px 10px;
		}

		@media @small
		{
			font-size: 20pt;
			margin-top: -21px;

			span
			{
				.opacity(0.5);
			}
		}
	}
}

div.shadow
{
	position: relative;
	z-index: -1;
	height: 7px;
}

div.caption
{
	margin-top: 0;
	line-height: 1.3em;
	padding: 4px 0;
	font-size: @fontSize;

	sup
	{
		color: @footnoteColor;
		vertical-align: top;
		line-height: 1em;
		font-family: @sanSerifFont;
		font-size: 18px;
		cursor: help;
	}

	@media @small
	{
		padding: 18px 0 0 0;
	}

	blockquote
	{
		font-size: @fontSize - 1;
		background-image: url(/img/left-quote.png);
		background-repeat: no-repeat;
		background-position: left top;
		margin: 1em;
		text-align: justify;

		&.poem
		{
			font-family: @serifFont;
			padding-left: 6em;
			line-height: 1.2em;
			margin-bottom: 1em;
			text-align: left;
		}

		p
		{
			padding: 0 4em 0.5em 4em;
			//text-indent: 0;
			line-height: 1.1em;
			color: #444;
		}
	}

	p
	{
		text-indent: 2em;
		font-family: @serifFont;
		margin: 0;
		padding: 0 2em 0.3em 2em;

		@media @small
		{
			text-indent: 4em;
			padding-bottom: 0.5em;
		}

		&:first-child, &.first { text-indent: 0; padding-top: 0.5em; }

		&.note
		{
			text-indent: 0;
			text-align: center;
			background-color: #fff;
			font-size: small;
			border: 1px solid #bfc1bf;
			margin: 0 4em;
			padding: 1em;
		}

		&.poem
		{
			padding-left: 3em;
			line-height: 1.3em;
			margin-bottom: 1em;
			font-size: 18px;

			.dropCap
			{
				font-size: 36pt;
				padding: 0 3px 0 0;
				float: left;
				line-height: 33pt;
			}
		}

		.tab { display: inline-block; width: 2em; }

		&.haiku
		{
			font-style: italic;
			font-size: 22px;
			text-indent: 0;
			padding: 10px 0 15px 65px;
			line-height: 1.1em;

			.glyphicon
			{
				display: block;
				position: absolute;
				top: 15px;
				right: 100px;
				color: @trimColor;
				font-size: 70px;
				.opacity(0.3);
			}
		}
	}
	div.footnotes
	{
		@indent: 20px;
		@mobileIndent: 30px;

		position: relative;
		border-top: 1px solid @trimColor;
		background-color: darken(@lightColor, 5%);
		padding: 0 20px 0 0;
		font-family: @sanSerifFont;
		font-size: 13px;
		margin-top: 8px;
		cursor: help;

		.glyphicon
		{
			color: darken(@lightTrimColor, 6%);
			position: absolute;
			right: 8px;
			top: 4px;
			font-size: 20px;
		}

		p
		{
			font-family: @sanSerifFont;
			text-indent: -@indent;
			margin: 0 40px;
			padding: 5px 0 0 @indent;
			line-height: 1.2em;

			a { }
		}
		sup
		{
			display: inline-block;
			text-indent: 0;
			width: @indent;
			margin: 0;
			font-size: 13px;
			line-height: 15px;
			padding: 0;
			vertical-align: bottom;

			&.title { font-size: @indent; line-height: @indent / 2; vertical-align: bottom; }
		}

		.opacity();

		&:hover
		{
			background: none;
			.opacity(1);
		}

		@media @small
		{
			padding-top: 10px;
			padding-bottom: 10px;

			.glyphicon
			{
				top: 9px;
				right: 14px;
				font-size: 39px;
			}

			p
			{
				text-indent: -@mobileIndent;
				padding: 5px 0 0 @mobileIndent;
			}

			sup
			{
				font-size: 22px;
				line-height: 29px;
				width: @mobileIndent;

				&.title { font-size: @mobileIndent; line-height: @mobileIndent; vertical-align: bottom; }
			}
		}

	}
}

/* About ------------------------------------------------------------------- */

.about
{
	@imageWidth: 401px;

	padding: 0;
	position: relative;

	p {	padding: 0 1em; font-family: @serifFont; font-size: 17px; line-height: 1.2em; }

	.by-line
	{
		text-align: center;
		font-size: 48px;
	}

	#right-column
	{
		float: right;
		width: @imageWidth;
		margin-left: 1em;

		.main-image
		{
			position: relative;
			margin: 0;
			padding: 0;

			img
			{
				border: 1px solid #000;
				border-right: none;
			}

			&:hover	{ img { border-color: @hoverColor; } }
		}

		.feature
		{
			float: left;
			width: (@imageWidth / 2) - 1;
			font-family: @sanSerifFont;
			font-size: 13px;
			line-height: 1em;
			margin: 0;
			padding: 0 0 0.5em 0;
			clear: right;
			border-left: 1px solid @lightTrimColor;

			h1
			{
				line-height: 1em;
				text-align: center;
				font-size: 13pt;
				margin: 0 0 0.5em 0;
				padding: 4px 0 4px 0;
				color: @boldColor;
				text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
				background-color: @lightColor;
				border-bottom: 1px solid @lightTrimColor;
			}

			a
			{
				display: block;
				margin: 5px 10px 0 10px;
				text-decoration: none;
			}

			&.technical
			{
				clear: left;
				width: @imageWidth - 1;
				a { display: inline; margin: 0; }
				p { margin: 0 1em; padding: 0.5em 0; font-family: @sanSerifFont; font-size: 15px; }
				h1 { margin-bottom: 0; border-top: 1px solid @lightTrimColor; }
			}
		}
	}

	#foot-links
	{
		clear: both;
		width: @contentWidth;
		border-top: 1px solid @trimColor;
	}
}

/* Category ---------------------------------------------------------------- */

li.set-summary
{
	@thumbSize: 75px;

	font-weight: normal;
	clear: left;
	text-shadow: none;
	padding: 9px;

	@media @small
	{
		border-bottom: 1px solid @lightTrimColor;
	}

	div.thumb
	{
		float: left;
		margin: 0 10px;
		width: @thumbSize + 3;
		height: @thumbSize + 3;

		@media @small
		{
			font-size: 18pt;
			width: @thumbSize * 2 + 3;
			height: @thumbSize * 2 + 3;
		}

		img
		{
			border: 1px solid #524948;
			&:hover { border-color: @hoverColor; }

			@media @small
			{
				margin-top: 4px;
				.transform(scale(2) translate(@thumbSize/4, @thumbSize/4));
			}
		}
	}

	a.title
	{
		color: @boldColor;
		font-size: 14pt;
		line-height: 1em;
		font-weight: bold;
		text-decoration: none;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
		padding: 0;

		&:hover { color: @hoverColor; }
	}
	a.link { display: none; }

	p.summary
	{
		margin: 2px 20px 5px 0;
		font-family: @serifFont;
		font-size: 10pt;
	}

	div.photo-count
	{
		float: right;
		font-size: 10pt;
		color: @lightTrimColor;
	}

	ul.tags
	{
		float: right;
		list-style: none;
		margin: 0 20px 0 0;
		padding: 0 0 15px 10px;

		@media @small
		{
			margin-top: 10px;
		}

		li
		{
			font-size: 9pt;
			font-weight: normal;
			color: #888;
			display: block;
			float: left;
			clear: none;
			padding: 1px 6px 0 6px;
			margin-left: 3px;
			line-height: 1em;

			@media @small
			{
				font-size: 18pt;
				padding: 0 3px;
			}

			a
			{
				text-decoration: none;

				@media @small
				{
					background-color: lighten(@lightColor, 5%);
					border: 1px solid @lightTrimColor;
					padding: 3px 8px;
					.rounded(4);
				}
			}
		}
	}

	&:hover
	{
		background-color: #fff;
		ul.tags li { border: none; }
	}
}

div.category
{
	margin-bottom: 10px;

	ul.sets
	{
		list-style: none;
		padding: 0;
		margin: 15px 0 0 0;
		font-family: @sanSerifFont;

		li
		{

		}
	}
}

/* Search ------------------------------------------------------------------ */

/* http://www.google.com/cse/setup/advanced?cx=012532665638014192714%3Aeb0vr5on0aw */
div.search
{
	margin-bottom: 10px;
}

/* Contact ----------------------------------------------------------------- */

div.contact
{
	@labelWidth: 200px;

	text-align: center;

	form
	{
		padding: 1em 0;
		text-align: left;

		label
		{
			width: @labelWidth;
			display: inline-block;
			text-align: right;
			font-family: @sanSerifFont;
			font-weight: bold;
			vertical-align: top;
			cursor: pointer;
			clear: both;
		}
		input, textarea
		{
			font-family: @sanSerifFont;
			width: 12em;

			&#mailSubject { width: 20em; }
			&#sendCopy { width: auto; }
		}
		input[type=submit] {  }

		textarea { width: 20em; height: 10em; }

		#recaptcha_image { margin-left: @labelWidth + 4; border: 1px solid @lightTrimColor; }
		#recaptcha_response_field { width: 20em; }

		ul.captcha-help
		{
			display: block;
			list-style: none;
			font-family: @sanSerifFont;
			font-size: 10pt;
			margin: 0 0 0 @labelWidth + 4;
			padding: 0;

			li
			{
				display: inline;
				padding-right: 1em;
			}
		}
	}

}

/* Authorize --------------------------------------------------------------- */

div.authorize
{
	margin-top: 20px;

	h4
	{
		font-family: @sanSerifFont;
		font-size: 36pt;
		margin: 0 0 0 20px;
		line-height: 1em;
		padding: 0;
		color: @trimColor;
	}

	div
	{
		font-family: @sanSerifFont;
		font-size: 22pt;
		margin-left: 30px;
	}
}

/* 503 --------------------------------------------------------------------- */

.not-ready
{
	p
	{
		font-size: 24pt;
		text-align: center;
		line-height: 1.5em;
		padding: 0.5em 0;
		color: #fff;
	}
}

/* 404 --------------------------------------------------------------------- */

.not-found
{
	background-image: url('http://farm9.staticflickr.com/8354/8330402329_62e9864311_c.jpg');

	p
	{
		font-size: 24pt;
		text-align: center;
		line-height: 1.5em;
		padding: 0.5em 0;
		color: #fff;
	}
}

/* footer ------------------------------------------------------------------ */

#foot-links
{
	position: relative;
	padding: 6px 0;
	border-top: 1px solid @trimColor;
	.inner-shadow(0, 2px, 4px, 0.2);

	@media @small { margin-top: 1em; }

	p
	{
		text-align: center;
		color: #777;
		font-weight: normal;
		font-family: @sanSerifFont;
		font-size: 13px;
		text-indent: 0;
		padding: 0;
		margin: 2px;

		&.rights { font-size: 14px; };

		@media @small { font-size: 14pt; }
	}
}