<html>
<head>
	{{> head-meta}}
	{{> head-files}}
	<meta content='BMW R1200GS, KTM XCW, jeep wrangler, motorcycle, motorcycling, riding, adventure, Jason Abbott, Abbott, outdoors, scenery, idaho, mountains' name='keywords'/>
	<script src='/js/menu.js?t={{setting.timestamp}}' type='text/javascript' defer></script>
	{{{block "head"}}}
</head>
<body>{{{body}}}</body>
</html>