<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
	{{> head-meta}}
	<meta content='{{setting.keywords}}' name='keywords'/>
	{{> head-files}}
	{{> ga}}
	{{> twitter}}
	{{{block "head"}}}
	<style type="text/css">
		#bug, #links, #tag-navigation { position: fixed; }
	</style>
	<script type="text/javascript" defer>
		window.addEventListener('load', function() { $('#post-tag-menu').load('/tag-menu'); });
	</script>
</head>
<body>
	{{> head-links}}
	{{> bug}}
	{{{body}}}
	<div id="post-tag-menu"></div>
	{{> load-mobile-menu }}
	{{> footer}}
</body>
{{{block "afterBody"}}}
</html>