<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
	{{> head-meta}}
	<meta content='{{setting.keywords}}' name='keywords'/>
	{{> head-files}}
	{{> ga}}
	{{> twitter}}
	{{{block "head"}}}
</head>
	<body>
	<div id='content'></div>
	{{> head-links}}
	{{{body}}}
	{{{block "afterBody"}}}
</body>
</html>