{{>header}}
<div class="about content">
	<div id="right-column">
		<a class='main-image' href="/hat-point-above-hells-canyon#68"><img src="/img/about.jpg"/></a>

		<div class='feature'>
			<h1>Suggested Reading</h1>
			<a href="http://home.earthlink.net/~sfrevue/id1.html">South Fork Review</a>
			<a href="http://www.shockfamily.net/Myrtle/bphilsource.html">Rock art and settlement in the Owyhee uplands</a>
			<a href='http://www.amazon.com/gp/product/0878423281/ref=oh_details_o04_s00_i00?ie=UTF8&psc=1'>Roadside History of Idaho</a>
			<a href='http://www.amazon.com/gp/product/0878422196/ref=oh_details_o04_s00_i01?ie=UTF8&psc=1'>Roadside Geology of Idaho</a>
			<a href='http://sspa.boisestate.edu/anthropology/publications/archaeology-of-the-snake-river-plain-2nd-edition/'>The Archeology of the Snake River Plain</a>
			<a href='http://history.idaho.gov/archives-collections'>Idaho State Historical Society archives</a>
			<a href='http://www.amazon.com/gp/product/B0006EXIV8/ref=oh_details_o00_s00_i00?ie=UTF8&psc=1'>In Times Past: A History of the Lower Jordan Creek Communities</a>
		</div>

		<div class='feature'>
			<h1>Other Online Homes</h1>
			<a href="https://www.facebook.com/jason.e.abbott">Facebook</a>
			<a href="http://www.flickr.com/photos/boise">Flickr</a>
			<a href="https://twitter.com/trailimage">Twitter</a>
			<a href="http://www.panoramio.com/user/trailimage">Panoramio (Google Earth)</a>
			<a href="http://www.advrider.com/forums/member.php?u=94668">Adventure Rider</a>
			<a href="http://boiseriders.net/users/jason-abbott/">Boise Riders</a>
			<a href="http://www.geocaching.com/profile/?guid=308b5b27-04c0-4ad6-9714-b6ad4c7623cd">Geocaching</a>
			<a href="http://disqus.com/jabbott7/">Disqus</a>
			<a href="http://www.linkedin.com/in/jasonabbott">LinkedIn</a>
			<a href="http://www.dpreview.com/members/3152146719">Digital Photography Review</a>
		</div>

		<div class='feature technical'>
			<h1>Technical</h1>
			<p>The site is a light-weight <a href="http://nodejs.org/">node.js</a> front-end to <a href="http://flickr.com/photos/boise">Flickr</a> hosted at <a href="https://www.heroku.com/">Heroku</a> with a caching layer at <a href="http://redis-cloud.com/">Redis Cloud</a>. The writing is embedded in the images as captions which come through the <a href="http://www.flickr.com/services/api/">Flickr API</a> and some regex to make it pretty.</p>
			<p>The map overview and links are generated automatically from the coordinates also embedded in the images. Basically, I press the &ldquo;<a href="http://regex.info/blog/lightroom-goodies/flickr">publish</a>&rdquo; button in <a href="http://www.adobe.com/products/photoshop-lightroom.html">Lightroom</a> and the stuff appears here, nice and neat.</p>
		</div>
	</div>

	<p>&ldquo;Stories and images of small adventure trips in and around the state of Idaho.&rdquo; That’s it in a nutshell.</p>
	<p>The capacity for natural places formed by forces awesome in power or abiding subtlety to mend the mind has been often extolled by poets and writers.</p>
	<p>There we are confronted by the old merism of what matters, truth and beauty. Not caricatures, talking points or trophies, amplified and garish, but a quiet reminder of the significance and insignificance of things.</p>
	<p>It is this I wish to relay through the small truths of history or geology that come to hand while developing images to match, I hope, what you would have seen had you stood by when I took them.</p>

	<div class="by-line">&mdash; Jason Abbott</div>

	{{> footer}}
</div>