{{#contentFor "head"}}
	{{> json-ld}}
{{/contentFor}}

<div class="about content">
   <a class='main-image' href="/hat-point-above-hells-canyon#68"><img src="/img/about.jpg" width="400" height="296"/></a>

	<p class="first">&ldquo;Stories and images of small adventure trips in and around the state of Idaho.&rdquo; That’s it in a nutshell.</p>
	<p>The capacity for natural places formed by forces awesome in power or abiding subtlety to mend the mind has been often extolled by poets and writers.</p>
	<p>There we are confronted by the old merism of what matters, truth and beauty. Not caricatures, talking points or trophies, amplified and garish, but a quiet reminder of the significance and insignificance of things.</p>
	<p>It is this I wish to relay through the small truths of <a href="/photo-tag/history">history</a> or geology that come to hand while developing images to match, I hope, what you would have seen had you stood by when I took them.</p>

	<div class="by-line">{{config.owner.name}}</div>
	<div class="clear"></div>
</div>