{{>header}}
{{#contentFor "head"}}
	<meta name="robots" content="noindex">
{{/contentFor}}

<div class="category content">
	<ul class="sets">
		{{#sets}}
			{{> set-summary}}
		{{/sets}}
	</ul>
</div>

{{>footer}}
