{{#contentFor "head"}}
	<script type="text/javascript">
		var RecaptchaOptions = { theme: 'custom' };
	</script>
{{/contentFor}}
{{>header}}
<div class="contact content">
	{{error}}
	<form method="post">
		<label for="senderName">Your name</label>
		<input id="senderName" type="text" name="senderName"><br/>

		<label for="senderEmail">Your e-mail address</label>
		<input id="senderEmail" type="text" name="senderEmail"><br/>

		<label for="mailSubject">Subject</label>
		<input id="mailSubject" type="text" name="subject" value="trailimage.com comment"><br/>

		<label for="mailBody">Message</label>
		<textarea id="mailBody" name="message"></textarea><br/>

		<div id="recaptcha_image"></div>
		<label for="recaptcha_response_field">Enter text above</label>
		<input type="text" id="recaptcha_response_field" name="recaptcha_response_field"/><br/>
		<ul class="captcha-help">
			<li><a href="javascript:Recaptcha.reload()">Get another CAPTCHA</a></li>
			<li><a href="javascript:Recaptcha.showhelp()">Help</a></li>
		</ul>

		<label for="sendCopy">Send me a copy</label>
		<input id="sendCopy" name="sendCopy" type="checkbox"/>

		<input type="submit" value="Submit">
	</form>

	{{> footer}}
</div>
{{#contentFor "afterBody"}}
	{{{captcha}}}
{{/contentFor}}
