{{#contentFor "head"}}
	<script type='text/javascript'>
		$(document).ready(function()
		{
			$('#username').focus();
		});
	</script>
{{/contentFor}}

<form id="login" method="post">
	<fieldset>
		<div class="row">
			<label for="username">Username</label><input id="username" name="username" type="text" tabindex="1"/>
		</div>
		<input class="button" type="submit" tabindex="3"/>
		<div class="row">
			<label for="password">Password</label><input id="password" name="password" type="password" tabindex="2"/>
		</div>
	</fieldset>
</form>

{{#if message}}
	<div class="message">{{{message}}}</div>
{{/if}}