<html>
<head>
	{{> head-meta}}
	{{> head-files}}
	<meta content='{{config.keywords}}' name='keywords'/>
	<meta name="robots" content="noindex">
	<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
	<link href='/css/map.css' rel='stylesheet' type='text/css'/>
	<script type='text/javascript'>
		var mapSlug = '{{slug}}';
		var mapPhotoID = {{photoID}};
	</script>
	<script src='/js/map.js' type='text/javascript' defer></script>
</head>
<body>
	<div id="map-canvas"></div>
	{{> post-menu}}
	<div id="summary">
		Miles
		<div class="lcd" id="distance">0</div>
		Hours
		<div class="lcd" id="duration">0</div>
		Top Speed
		<div class="lcd" id="top-speed">0</div>
		Avg Speed
		<div class="lcd" id="avg-speed">0</div>
	</div>
</body>
</html>