{{>header}}
{{#contentFor "head"}}
	<meta name="robots" content="noindex">
{{/contentFor}}

<div class="post-tag content">
	<ul class="sets">
		{{#posts}}
			{{> post-summary}}
		{{/posts}}
	</ul>
</div>

{{>footer}}
