{{>header}}
{{#contentFor "head"}}
<meta name="robots" content="noindex">
<script>
	(function() {
		var x = '';
		var cx = '012532665638014192714:eb0vr5on0aw';
		var gcse = document.createElement('script');
		gcse.type = 'text/javascript';
		gcse.async = true;
		gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//www.google.com/cse/cse.js?cx={{setting.google.searchEngineID}}';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(gcse, s);
	})();
</script>
{{/contentFor}}

{{! http://www.google.com/cse/setup/advanced?cx=012532665638014192714%3Aeb0vr5on0aw }}
{{! https://developers.google.com/custom-search/docs/element }}
<div class="search content">
	<gcse:search webSearchResultSetSize="20"></gcse:search>

	<ul class="sets">
	{{#sets}}
		{{> set-summary}}
	{{/sets}}
	</ul>
</div>

{{>footer}}
