@import "settings";
@import "elements";
@import "@{bs-path}glyphicons.less";

/* https://github.com/acdvorak/intellij-lessc-plugin */
@sanSerifFont: 'Droid Sans', Trebuchet MS, Tahoma, Arial;
@serifFont: 'Lora', Georgia, Times;
@borderColor: #aaa;

html {
	padding: 0;
	margin: 0;
}

body {
	background-color: #eee;
	font-family: @sanSerifFont;
	margin: 0;
	padding: 0;
}

label {
	cursor: pointer;
}

a {
	text-decoration: none;
	&:hover { text-decoration: underline; }
}

fieldset {
	position: relative;
	border: 1px solid @borderColor;
	.rounded(4px);
	padding: 5px 10px 10px 10px;
	margin-top: 10px;

	input, select { font-family: @sanSerifFont; font-size: 16px; }

	legend {
		margin-left: 10px;
		font-weight: bold;
		color: #009;
	}

	select {
		margin: 4px;
		padding: 4px;
		display: block;
		width: 75%;
	}

	.message {
		position: absolute;
		bottom: 4px;
		right: 8px;
		display: none;
		font-size: 20px;
		font-weight: bold;
		color: #f80;
	}

	&.busy {
		cursor: wait !important;
	}
}

div.column {
	width: 30%;
	float: left;
	margin: 10px;

	form {
		button { float: right; }
	}

	&#reference {
		width: 20%;
	}
}

#logs {
	table {
		border-collapse: collapse;
		padding: 0;
		margin: 0;
		font-size: 12px;
		width: 100%;

		tr {
			&.head {
				text-align: center;
				background-color: #000;
				color: #fff;
				font-weight: bold;
				font-size: 25px;
			}

			&.error	{ td { background-color: #f99; word-break: break-all; }}
			&.warn { td { background-color: #ffe; }}
			&:hover	{ td { color: #80a; }}

			td {
				border-bottom: 1px solid @borderColor;
				margin: 0;
				padding: 2px 4px;
				line-height: 1em;

				&.icon {
					background-color: #444;
					font-weight: normal;

					.glyphicon { color: #ccc; }
					.glyphicon-ban-circle { color: #eee; }
					.glyphicon-eye-open { color: #999; }
					.glyphicon-heart-empty { color: #f44; }
					.glyphicon-link { color: #f5b; }
					.glyphicon-lock { color: #0f0; }
					.glyphicon-log-in { color: #fd0; }
					.glyphicon-new-window { color: #ff8; }
					.glyphicon-off { color: #49f; }
					.glyphicon-remove { color: #f40; }
					.glyphicon-save { color: #f94; }
					.glyphicon-save-file { }
					.glyphicon-screenshot { color: #af0; }
				}

				&.timestamp {
					text-align: right;
					padding-right: 6px;
					color: #666;
					white-space: nowrap;
					letter-spacing: -1px;
					cursor: pointer;
				}
			}
		}
	}
}