@import "elements";
@import "settings";

@margin: 9px;
@navHeight: 20px;

html { overflow: hidden; }
body { margin: 0; padding: 0; background: none; }
nav {
   position: absolute;
   width: 100%;
   top: 0;
   line-height: @navHeight;
   color: #fff;
   height: @navHeight;
   font-size: 14px;
   background-color: #444;
   font-family: @sanSerifFont;

   h1 {
      position: absolute;
      margin: 0;
      padding: 0;
      left: 10px;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 0.3em;
      text-transform: uppercase;

      a {
         color: @lightTrimColor !important;
         text-decoration: none;
         &:hover { color: #fff !important; }
      }
   }

   #photo-count, #zoom-out {
      float: right;
   }

   #zoom-out {
      cursor: pointer;
      padding-right: 20px;      
      &:hover { color: #ff0; }
      &.disabled {
         .opacity();
         cursor: default;
         &:hover { color: #fff; }
      }
      .material-icons {
         font-size: 16px;
         line-height: 20px;
         vertical-align: bottom;
      }
   }

   #photo-count {
      padding-right: 10px;
   }
}

#map-canvas {
   width: 100%;
   top: @navHeight;
   bottom: 0;
   position: absolute;
}

#legend, #photo-preview {
   position: absolute;
   border: 1px solid #000;
   font-family: @sanSerifFont;
   .drop-shadow(0, 0, 20px, 1);
   z-index: 50;
}

a#back, a#gpx-download {
   position: absolute;
   top: 30px;
   z-index: 200;
   cursor: pointer;
   background-color: #fff;
   text-decoration: none;
   font-family: @sanSerifFont;
   font-weight: bold;
   font-size: 15px;
   .rounded(4px);
   .opacity(0.7);

   &:hover {
      color: @hoverColor;
      .opacity(1);
      .drop-shadow(0, 0, 8px, 0.8);
   }
}

a#back {
   left: @margin + 1;
   padding: 6px 0 6px 25px;
   width: 85px;

   .material-icons {
      position: absolute;
      top: 6px;
      left: 7px;
      width: 10px;
      display: block;
   }
}

a#gpx-download {
   position: absolute;
   right: 50px;
   padding: 6px 6px 6px 10px;

   .material-icons { padding-left: 1px; }
}

#legend {
   background-color: #222;
   bottom: 25px;
   left: 10px;
   color: #aaa;
   list-style-type: none;
   padding: 10px 20px 5px;
   font-size: 13px;
   width: 125px;

   li {
      list-style: none;
      border-bottom: 2px solid #fff;
      padding-bottom: 2px;
      margin-bottom: 10px;

      &.toggle {
         border: none;
         padding-bottom: 4px;
         p {
            margin: 0;
            padding: 0;
            display: none;
         }
         i {
            position: absolute;
            cursor: pointer;
            top: 0;
            right: 0;
            &.expand_less { display: none; }
            &:hover { color: #fff; }
         }
      }

      &.credit {
         border: none;
         font-size: 11px;
         padding: 10px 0;

         img { float: right; }
         a { color: #dfa; }
      }
   }

   #photo {
      border: none;
      padding-bottom: 4px;
      img { padding: 3px 0 0 6px; }
   }
   #highway { border-color: #df0; }
   #automobile { border-color: #fff; }
   #jeep { border-color: #7e7; }
   #atv { border-color: #82d; }
   #motorcycle { border-color: #f90; }
   #non-motor { border-color: #f28; }
   #seasonal { border-bottom-style: dotted; }

   &.collapsed {
      padding-bottom: 0;
      .opacity(0.7);

      li {
         display: none;
         &.toggle {
            display: block;
            padding-bottom: 0;
            p { display: block; }
            .expand_less { display: block; top: 5px; }
            .expand_more { display: none; }
         }
      }
      &:hover { .opacity(1); }
   }
}

#photo-preview {
   display: none;
   color: #fff;
   background-color: #000;
   min-height: 200px;
   min-width: 200px;

   nav {
      background-color: #000;
      .material-icons {
         font-size: 17px;
         margin: 1px 4px;
         cursor: pointer;
         color: #999;
         &:hover { color: #fff; }
         &.arrow_forward { float: right; }
      }

      div.markers {
         left: 20px;
         right: 20px;
         top: 0;
         position: absolute;
         text-align: center;
         .material-icons.place {
            font-size: 12px;
            padding: 3px 0 0;
            margin: 0 -1px;
            color: #444;
            &.selected { color: #f77; }
         }
      }
   }

   figure {
      display: block;
      text-align: center;
      margin: 0;
      img {
         min-height: 200px;
         cursor: pointer;
      }
      figcaption {
         position: relative;
         font-weight: normal;
         font-size: 12px;
         padding: 10px 0;
      }
   }

   .material-icons.close {
      position: absolute;
      z-index: 100;
      font-size: 18px;
      font-weight: bold;
      top: 8px;
      left: 8px;
      .opacity();
      color: #fff;
      cursor: pointer;
      &:hover { .opacity(1); }
   }

   div.photo-list {
      figure {
         display: none;
         &:first-child { display: block; }
      }
   }

   &.list .material-icons.close {
      top: 25px;
      left: 4px;
   }
}