@import "elements";
@import "settings";

#mobile-menu-button {
   position: absolute;
   z-index: 300;
   top: 0;
   right: 0;
   width: 50px;
   display: none;

   .material-icons {
      padding: 2px 0;
      font-size: 40px;
      color: @mobileTextColor;
      cursor: pointer;
   }

   @media @mobile { display: block; }
}

#mobile-menu {
   @headerSize: 15px;
   @selectColor: #333;
   @menuHeight: 500px;

   top: @mobileHeaderHeight;
   width: 100%;
   position: fixed;
   height: @menuHeight;
   font-family: @sanSerifFont;
   font-size: 24px;
   line-height: 1em;
   color: @mobileTextColor;
   background-color: #222;
   z-index: 800;
   margin: 0 auto;
   border-bottom: 40px solid #444;
   display: none;

   ul {
      li {
         padding: 14px 0;
         cursor: pointer;
         a {
            color: @mobileTextColor;
            text-decoration: none;
            &:active { color: @mobileActiveColor; }
         }
      }

      &.links {
         position: absolute;
         top: 10px;
         right: 0;
         text-align: right;

         li {
            .glyphicon {
               font-size: 18px;
               padding: 10px 20px;
               color: darken(@mobileTextColor, 50%);
            }
            .glyphicon-info-sign { color: #44f; }
            .glyphicon-tags { color: #dd0; }
            .glyphicon-fire { color: #900; }
            .glyphicon-leaf { color: #0a0; }
            .glyphicon-comment { color: #09a; }
         }
      }

      &.tag-list {
         margin: @headerSize 0 0 0;
         float: left;
         li {
            white-space: nowrap;
            padding: 30px 20px;
            .glyphicon {
               font-size: 18px;
               padding-right: 10px;
               color: @mobileLinkColor;
            }
            &.selected {
               background-color: @selectColor;
            }
         }
      }
   }

   .tags {
      float: left;
      position: relative;
      width: 300px;
      margin: @headerSize 0;
      height: @menuHeight - 30;
      overflow-y: auto;
      overflow-x: hidden;
      z-index: 90;

      ul {
         padding: 0;
         margin: 0;
         display: none;
         background-color: @selectColor;

         li {
            font-size: 20px;
            text-align: center;
            padding: 15px 20px;
            .count {
               font-size: smaller;
               padding-left: 10px;
               color: #666;
            }
         }
      }
   }

   .glyphicon-chevron-down {
      color: #666;
      display: none;
      font-size: 50px;
      position: absolute;
      top: @menuHeight - 55;
      left: 115px;
      z-index: 100;
   }
}