@import 'elements';
@import 'settings';

@postHeaderHeight: @headerHeight + 10;
@mobileButtonSize: 30px;
@mobileButtonMargin: 5px;
@mobileButtonColor: #fff;
@mobileButtonBack: #000;
@mobileButtonAlpha: 0.3;
@mobileSynopsisMargin: 60px;

header.page.post-header {
   z-index: 300;

   #top-bar {
      height: @postHeaderHeight;
      padding: 0;
      margin: 0;
      z-index: 300;
      background-position: (@contentWidth - 95);

      h1,
      .subtitle {
         float: left;
      }
      h1 {
         padding-top: 4px;
      }
      .subtitle {
         font-family: @sanSerifFont;
         color: @boldColor;
         letter-spacing: -1px;
         padding: 0 0 0 7px;
         font-size: 22px;
         line-height: 18px;
         text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);

         .parts {
            display: block;
            font-size: 15px;
            padding: 2px 0 0 1px;
            line-height: 18px;
            letter-spacing: 0;
         }
      }
   }

   #post-date,
   .video-link {
      position: absolute;
      font-family: @sanSerifFont;
   }

   #post-date {
      top: @postHeaderHeight - 20;
      right: 80px;
      z-index: 500;
      font-weight: bold;
      font-size: 14px;
      color: @boldColor;
   }

   .video-link {
      position: absolute;
      right: 15px;
      top: @postHeaderHeight + 14;
      height: 20px;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 1px;
      font-size: 12px;
      line-height: 12px;
      z-index: 21;
      color: #fff;
      padding: 0 6px 4px 4px;
      .gradient(#800, #810, #966);
      .rounded(3px);
      .opacity(0.7);

      .material-icons {
         padding: 0 6px 4px 0;
         vertical-align: middle;
      }

      &:hover {
         .opacity(1);
      }
   }

   .synopsis {
      background-color: rgba(255, 255, 255, 0.5);
      .border-radius(10px, 0, 0, 10px);
      font-weight: normal;
      line-height: 1.1em;
      font-family: @serifFont;
      font-size: 16px;
      text-align: justify;
      margin: 13px 35px 0;
      padding: 1.6em 2em 1.2em;
      text-rendering: optimizeLegibility;

      p {
         margin: 0;
         padding: 0;
      }
   }

   div.map {
      position: relative;
      background-color: rgb(210, 216, 172);
      border-top: 1px solid @trimColor;
      text-align: center;
      width: 100%;
      padding: 0;
      margin: 0;
   }

   @media @mobile {
      position: relative;

      #top-bar {
         position: fixed;
         height: @mobileHeaderHeight;

         h1 {
            padding-top: 10px;
            letter-spacing: -1px;
         }
         .subtitle {
            padding-top: 8px;
            color: @mobileTextColor;
            text-shadow: none;
         }
      }
      #post-date {
         position: fixed;
         z-index: 400;
         color: darken(@mobileTextColor, 30%);
         font-size: 13px;
         right: 10px;
      }
      .video-link,
      .map {
         display: none;
      }

      .synopsis {
         font-family: @sanSerifFont;
         color: #ddd;
         background-color: transparent;
         line-height: 1.3em;
         text-align: justify;
         font-size: 16px;
         // space for navigation
         padding: 10px 0 @mobileSynopsisMargin + 10;
      }
   }

   @media @phone {
      #top-bar .subtitle {
         p {
            display: none;
         }

         .parts {
            span {
               display: none;
            }
            padding-bottom: 2px;
            color: #fff;
         }
      }
   }
}

/* Feature variations ------------------------------------------------------ */

body.has-date {
   @media @mobile {
      #header.post-header {
         .synopsis {
            margin-top: 40px;
         }
      }

      nav.tag-wrapper {
         margin-top: 80px;
      }
   }
}

//body.has-categories {}
//body.has-map {}
//body.has-nav {}

#nav-top,
#nav-bottom {
   @media @mobile {
      div.next,
      div.previous {
         font-size: 14px;
         line-height: 1em;
         margin: 0;
         padding: 0;

         .material-icons {
            font-size: 30px;
            padding: 0;
         }
         h4 {
            padding: 0;
            margin: 0;
            line-height: 1em;
         }
      }
   }
}

#nav-top {
   @media @mobile {
      div.next,
      div.previous {
         margin-top: -@mobileSynopsisMargin;
      }
   }
}

#nav-bottom {
   @media @mobile {
      width: 100%;
      margin: 0 0 20px;
   }
}

div.next {
   left: 50%;
   margin-left: (@contentWidth / 2) + 10;
   @media @mobile {
      right: 10px;
      margin: 0;
      text-align: right;
   }
}

div.previous {
   right: 50%;
   margin-right: (@contentWidth / 2) + 10;
   text-align: right;
   @media @mobile {
      left: 10px;
      margin: 0;
      text-align: left;
   }
}

div.next,
div.previous {
   width: (@imageWidth - @contentWidth) / 2;
   margin-top: 30px;
   position: absolute;
   font-family: @sanSerifFont;
   font-size: 16px;
   z-index: 250;

   h4 {
      color: #777;
      margin: 0 0 2px;
      font-size: 22px;
      line-height: 1em;

      .material-icons {
         font-size: 28px;
         line-height: 24px;
         margin: 0 -6px;
         vertical-align: text-bottom;
      }
   }

   a {
      color: #ddd;
      text-decoration: none;

      @media @desktop {
         &:hover {
            color: desaturate(lighten(@hoverColor, 30%), 20%);
         }
      }
   }

   @media @mobile {
      width: auto;
      font-size: 20px;
      h4 .material-icons {
         font-size: 20px;
      }

      a {
         color: @mobileLinkColor;
         &:active {
            color: @mobileActiveColor;
         }
      }
   }
}

#light-box {
   display: none;
   position: fixed;
   overflow: hidden;
   z-index: 1000;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background-color: rgba(0, 0, 0, 0.75);
   cursor: zoom-out;

   img {
      position: absolute;
      cursor: move;
      margin: 0 auto;
      border: 1px solid #000;
      .drop-shadow(0, 0, 20px, 1);
   }
}

nav.tag-wrapper {
   @height: 28px;
   @mobileHeight: @height + 14;

   width: 100%;
   height: @height;
   margin: 0;
   padding: 0;
   overflow: hidden;
   text-align: center;
   position: relative;
   border: none;
   background-color: @trimColor;
   font-family: @sanSerifFont;
   line-height: 10px;
   .drop-shadow(0, 0, 2px, 0.4);

   .material-icons {
      position: absolute;
      top: 3px;
      right: 6px;
      font-size: @height - 6;
      color: rgba(255, 255, 255, 0.4);

      @media @mobile {
         font-size: @mobileHeight - 9;
         top: 5px;
         right: 10px;
         color: rgba(255, 255, 150, 0.4);
      }
   }

   ul.tags {
      list-style: none;
      padding: 0;
      margin: 0 auto;
      white-space: nowrap;

      li {
         font-size: 13px;
         font-weight: normal;
         color: #fff;
         display: inline-block;
         padding: 0;
         margin: 0;
         line-height: @height - 2;
         vertical-align: bottom;
         text-rendering: optimizeLegibility;

         &.label {
            padding-bottom: 2px;
            margin-left: 0;
            font-weight: bold;
            text-shadow: 1px 0 2px rgba(0, 0, 0, 0.5);
         }

         a {
            height: @height;
            display: block;
            padding: 1px 4px 0;
            text-decoration: none;
            background-color: lighten(@trimColor, 7%);
            color: #fff;

            &:hover {
               color: desaturate(lighten(@hoverColor, 55%), 20%);
               background-color: darken(@trimColor, 10%);
            }
         }
      }
   }

   @media @mobile {
      display: none;
      background-color: #555;
      height: @mobileHeight;
      line-height: @mobileHeight - 5;
   }
}

div.gas {
   position: absolute;
   display: none;
   padding: 20px 0;
   margin: 0;
   right: 1px;
}

div.video {
   margin: 0 auto 1px;

   @maxWidth: 1032px;
   @minWidth: 650px;
   @ratio: @minWidth / @maxWidth;
   @tooWide: (@maxWidth - @minWidth) / 2;

   @media @mobile {
      margin: -100px -@tooWide -70px -@tooWide;
      padding: 0;
      transform: scale(unit(@ratio), unit(@ratio));
   }

   iframe {
      background-color: #000;
      padding: 4px;
   }
}

figure {
   margin: 0 auto;
   text-align: center;
   position: relative;
   padding: 0 9px 0 0;
   z-index: 100;

   img {
      border: 1px solid #000;
      background-color: #fff;
      padding: 4px;
      margin: 0;
      cursor: pointer;
      cursor: -webkit-zoom-in;
      cursor: -moz-zoom-in;
      z-index: 20;
      .drop-shadow(0, 0, 10px, 0.4);
   }

   @media @mobile {
      width: 100%;
      margin: 0 auto 20px;
      padding: 0;

      img {
         // width set by inline style so can't override
         border: none;
         padding: 0;
         cursor: default;
         .box-shadow(none);
      }
   }

   nav.tags {
      position: absolute;
      left: 5px;
      bottom: 100px;
      color: #fff;
      background-color: #000;
      margin-right: 4px;
      padding: 5px 5px 5px 30px;
      .opacity(0.6);
      display: none;
      text-align: left;
      font-size: 15px;

      h4 {
         display: none;
         position: absolute;
         font-family: @sanSerifFont;
         font-weight: normal;
         font-size: 10px;
         line-height: 10px;
         margin: 0;
         padding: 0;
         top: 2px;
         left: 4px;
      }

      .material-icons {
         font-size: 18px;
         position: absolute;
         top: 6px;
         left: 10px;
      }

      a {
         color: #fff;
         font-family: @sanSerifFont;
         line-height: 22px;
         padding: 7px;
         text-decoration: none;
         white-space: nowrap;

         &:hover {
            color: #ff0;
            text-decoration: underline;
         }
      }
   }

   div.info-button,
   div.mobile-button,
   div.mobile-info {
      position: absolute;
      font-family: @sanSerifFont;
      .material-icons {
         position: absolute;
      }
   }

   div.info-button,
   div.mobile-info {
      ul {
         list-style: none;
         margin: 4px 4px 6px 8px;
         padding: 0;
         cursor: help;

         li {
            padding-top: 1px;

            &.camera {
               font-size: 16pt;
               margin-bottom: 3px;
               font-weight: bold;
               color: rgba(255, 255, 255, 0.6);
            }
            &.focal-length {
               font-size: 12pt;
               line-height: 1em;
            }
            &.iso {
               margin-top: 10px;
            }
            &.software {
               margin-top: 10px;
            }
         }
      }
   }

   div.info-button {
      top: 5px;
      display: none;
      right: 5px;
      color: #fff;
      background-color: #000;
      padding: 5px;
      font-size: 17px;
      font-weight: normal;
      text-align: center;
      .opacity(0.6);
      //.border-radius(0, 0, 3px);

      p,
      .material-icons {
         cursor: progress;
      }

      p {
         display: inline;
         line-height: 1.3em;
         padding: 0 4px 0 33px;
      }

      .material-icons {
         top: 6px;
         left: 10px;
         color: @trimColor;
         font-size: 21px;
         font-weight: normal;

         &.cloud-download {
            top: 5px;
            //font-size: 17px;
         }
      }
   }

   div.mobile-button {
      margin: 0;
      bottom: @mobileButtonMargin + 20;
      padding: 3px;
      right: @mobileButtonMargin;
      height: @mobileButtonSize;
      .opacity(@mobileButtonAlpha);
      color: @mobileButtonColor;
      background-color: @mobileButtonBack;
      .rounded(20px);

      .material-icons {
         position: relative;
         font-size: @mobileButtonSize;
         line-height: @mobileButtonSize;
         &.info_outline {
            display: none;
         }
      }

      &.active {
         .material-icons {
            &.info {
               display: none;
            }
            &.info_outline {
               display: block;
            }
         }
      }

      @media @desktop {
         display: none;
      }
   }

   div.mobile-info {
      padding: 20px;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.5);
      font-size: 17px;

      @media @tablet {
         right: 0;
         // top of figure may be out of view so position above mobile buttons
         bottom: @mobileButtonSize * 2 + @mobileButtonMargin * 2 + 50;
      }

      @media @phone {
         right: auto;
         left: 0;
         top: 0;
      }
   }

   a.map {
      display: block;
      background-color: #fff;
      color: #000;
      padding: 0 26px 3px 5px;
      font-family: @sanSerifFont;
      font-size: 20px;
      line-height: 17px;
      text-decoration: none;
      letter-spacing: -1px;
      position: absolute;
      border: 1px solid @boldColor;
      .rounded(5px);
      .opacity(0.2);
      right: 11px;
      bottom: 12px;
      z-index: 30;

      .material-icons {
         position: absolute;
         right: 4px;
         top: 1px;
         font-size: 18px;
         color: rgba(0, 0, 0, 0.4);
      }

      @media @mobile {
         margin: 0;
         .opacity(@mobileButtonAlpha);
         border: none;
         padding: 2px 0 3px 7px;
         bottom: @mobileButtonMargin + @mobileButtonSize + 30;
         right: @mobileButtonMargin + 2px;
         .rounded(20px);
         span {
            display: none;
         }
         background-color: @mobileButtonBack;
         text-align: center;

         .material-icons {
            font-size: @mobileButtonSize - 5;
            color: @mobileButtonColor;
            position: relative;
            line-height: @mobileButtonSize;
         }
      }
   }

   @media @desktop {
      &:hover,
      &:active {
         a.map {
            .opacity(0.7);
            .material-icons {
               color: rgba(255, 0, 0, 0.5);
            }

            &:hover,
            &:active {
               .opacity(1);
               .material-icons {
                  color: rgba(255, 0, 0, 1);
               }
            }
         }
         div.info-button,
         nav.tags {
            display: block;
         }
         figcaption span {
            color: #000;
         }
      }
   }

   a.source-link {
      display: none;
      text-align: left;
      font-family: @sanSerifFont;
      font-size: 12px;
      letter-spacing: 0.5px;
      color: #555;
      text-decoration: none;
      position: absolute;
      bottom: -10px;
      right: -18px;
      .rotation(90deg);
      transform-origin: 100% 0;

      &:hover {
         color: #ff0;
      }

      @media @desktop {
         display: block;
      }
   }

   figcaption {
      position: relative;
      font-family: @sanSerifFont;
      font-size: 18px;
      font-weight: bold;
      z-index: 55;
      margin: -17px auto 0 auto;
      width: 100%;
      letter-spacing: -1px;

      span {
         margin-top: -10px;
         background-color: #fff;
         white-space: nowrap;
         color: rgba(0, 0, 0, 0.7);
         border: 1px solid #666;
         .opacity(0.8);
         padding: 0 10px 1px;
      }

      @media @mobile {
         font-size: 16px;
         font-weight: normal;
         margin-top: 2px;
         letter-spacing: 0;
         span {
            color: #999;
            border: none;
            padding-top: 2px;
            background: none;
         }
      }

      @media @tablet {
         font-size: 20px;
         margin-top: 4px;
      }
   }
}

div.shadow {
   position: relative;
   z-index: -1;
   height: 7px;
}

div.caption {
   margin-top: 0;
   line-height: 1.3em;
   padding: 4px 0 0;
   font-size: @fontSize;

   sup {
      color: @footnoteColor;
      vertical-align: top;
      line-height: 1em;
      font-family: @sanSerifFont;
      font-size: 18px;
      cursor: help;
   }

   .tab {
      display: inline-block;
      width: 2em;
   }

   blockquote {
      font-size: @fontSize - 1;
      background-image: url(/img/left-quote.png);
      background-repeat: no-repeat;
      background-position: left top;
      margin: 1em 1em 0;
      text-align: justify;

      p {
         padding: 0 4em 0.5em;
         //text-indent: 0;
         line-height: 1.1em;
         color: #444;
      }

      // poems inline with other caption text
      &.poem {
         background-image: url(/img/quote-ornament.png);
         background-position: left bottom;
         font-family: @serifFont;
         line-height: 1.4em;
         text-align: left;
         margin-top: 1.5em;

         p {
            text-align: left;
            text-indent: 0;
            padding: 0 0 1.4em 5em;
         }
      }
   }

   p {
      text-indent: 2em;
      font-family: @serifFont;
      margin: 0;
      padding: 0 2em 0.3em;

      &:first-child,
      &.first {
         text-indent: 0;
         padding-top: 1.4em;
      }
      &:last-child {
         padding-bottom: 2em;
      }
      &.first {
         padding-top: 0.4em;
      }
      &.quip {
         &:first-child,
         &.first {
            text-indent: 2em;
         }
      }

      &.note {
         text-indent: 0;
         text-align: center;
         background-color: #fff;
         font-size: small;
         border: 1px solid #bfc1bf;
         margin: 0 4em;
         padding: 1em;
      }

      // captions that are entirely a poem
      &.poem {
         padding-left: 3em;
         line-height: 1.3em;
         //margin-bottom: 1em;
         font-size: 18px;

         .drop-cap {
            font-size: 36pt;
            padding: 0 3px 0 0;
            float: left;
            line-height: 33pt;
         }
      }

      &.haiku {
         font-style: italic;
         font-size: 22px;
         text-indent: 0;
         padding: 10px 0 15px 65px;
         line-height: 1.1em;

         .material-icons {
            display: block;
            position: absolute;
            top: 15px;
            right: 100px;
            color: @trimColor;
            font-size: 75px;
            .opacity(0.1);
         }
      }
   }

   ol.footnotes {
      list-style-type: decimal;
      position: relative;
      border-top: 1px solid @trimColor;
      background-color: darken(@lightColor, 5%);
      padding: 10px 20px 10px 40px;
      font-family: @sanSerifFont;
      font-size: 13px;
      margin-top: 20px;
      cursor: help;
      color: @footnoteColor;

      .opacity();

      &:hover {
         background: none;
         .opacity(1);
      }

      li {
         line-height: 1em;
         padding-bottom: 5px;
         counter-increment: note-counter;

         span {
            color: #444;
         }
         a:hover {
            color: @hoverColor;
         }

         &.credit {
            list-style: none;
            text-indent: -10px;
            padding-bottom: 10px;
            .material-icons {
               font-size: 14px;
               color: @footnoteColor;
               margin: 0;
               padding-right: 7px;
               vertical-align: text-top;
            }
         }
      }
   }

   // mobile caption
   @media @mobile {
      padding: 0 0 15px;
      font-size: @fontSize + 2;
      line-height: 1.3em;

      p {
         padding: 0 0.7em 0.3em;
         &:first-child,
         &.first {
            padding-top: 0;
         }
         &:last-child {
            padding-bottom: 1em;
         }
      }

      blockquote {
         margin-bottom: 15px;
         text-align: left;
         p {
            font-size: 17px;
            color: @mobileTextColor;
            line-height: 1.2em;
            padding: 0 3em 0.5em;
         }
      }

      sup {
         color: @mobileFootnoteColor;
      }

      ol.footnotes {
         @indent: 30px;
         border: none;
         background-color: #333;
         margin: 6px 0 @indent;
         padding: 6px 5px 0 @indent;
         color: @mobileFootnoteColor;

         li {
            padding-bottom: 8px;
            line-height: 1.5em;
            span {
               color: darken(@mobileTextColor, 30%);
            }
            &.credit {
               text-indent: -8px;
               .material-icons {
                  margin: 0;
                  padding: 2px 2px 0 0;
               }
            }
         }

         .opacity(1);

         a {
            color: @mobileLinkColor;
         }
      }
   }

   @media @tablet {
      font-size: @fontSize + 3;
      p {
         padding: 0 1.5em 0.3em 2em;
      }
   }
}

.footer-tags {
   margin: 0 auto;

   nav.tag-wrapper {
      .drop-shadow(0, 0, 7px, 0.6);
   }

   @media @mobile {
      margin: 0;
      nav.tag-wrapper {
         .box-shadow(none);
      }
   }
}

div.by-line {
   position: relative;
   text-align: right;
   font-family: @serifFont;
   font-size: 25px;
   font-style: italic;
   font-weight: normal;
   color: @boldColor;
   text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);

   p {
      padding: 25px 25px 20px 0;
   }

   @media @mobile {
      p {
         margin-top: 40px;
      }
      text-align: center;
      color: @mobileTextColor;
   }
}
