@import "elements";
@import "settings";

#links, #tag-navigation {
   position: absolute;
   font-family: @sanSerifFont;
   left: 50%;
   margin-left: (@contentWidth / 2) + 8;

   @media @mobile { display: none; }

   a {
      display: block;
      color: @trimColor;
      text-decoration: none;
      font-size: 17px;
      padding-bottom: 4px;
      text-rendering: optimizeLegibility;

      &:hover, &:active {
         text-decoration: underline;
         color: desaturate(lighten(@hoverColor, 40%), 20%);
      }
   }
}

#tag-navigation {
   top: 185px;
   color: @lightColor;

   li {
      &.Where { display: none; }
      &.head {
         font-size: 17px;
         font-weight: bold;
         color: desaturate(lighten(@hoverColor, 40%), 20%);
      }
      &.title {
         font-size: 17px;
         font-weight: bold;
         margin: 5px;
      }

      .material-icons {
         font-size: 18px;
         margin: 0 5px 1px 0;
         vertical-align: text-bottom;
         .opacity(0.8);
      }

      ul {
         margin: 2px 0 0 10px;

         li {
            font-size: smaller;
            font-weight: normal;
            color: @lightTrimColor;
            line-height: 1.2em;
            a { display: inline; font-weight: normal; padding-right: 5px; }
         }
      }
   }
}

#links {
   top: 3px;

   .twitter {
      height: 22px;
      width: 65px;
      position: absolute;
      right: 17px;
      top: 35px;
   }

   a.feed-icon {
      background: url(/img/feed-icon-14x14.png) no-repeat;
      margin-top: 3px;
      padding-left: 18px;
      line-height: 1em;
   }
   .twitter-follow-button { margin-top: 7px; }
}