@import 'reset';
@import 'elements';
@import 'settings';
@import 'post-menu';
@import 'mobile-menu';
@import 'side-menu';
@import 'facebook';
@import 'google-search';
@import 'about-page';
@import 'post-page';
@import 'category-page';
@import 'photo-tag-page';

html {
   overflow-y: scroll;
   overflow: -moz-scrollbars-vertical;
}

body {
   margin: 0;
   padding: 0;
   position: relative;
   font-size: small;
   color: #333;
   line-height: 1.3em;
   background: #222 url(/img/topo-map-tile.jpg) repeat;

   @media @mobile {
      color: @mobileTextColor;
      padding-top: @mobileHeaderHeight;
   }
}

*:focus {
   outline: none;
}

.content {
   font-family: @sanSerifFont;
   font-weight: normal;
   text-align: left;
   margin: 0 auto;
   padding: 0;
   background-color: @backgroundColor;
   width: @contentWidth;

   @media @mobile {
      background: none;
      width: 100%;
   }
}

.clear {
   clear: both;
}

#bug {
   position: absolute;
   top: 15px;
   left: 15px;
   text-decoration: none;
   color: @trimColor;
   font-size: 14px;
   font-family: @sanSerifFont;

   @media @mobile {
      display: none;
   }

   p {
      line-height: 1.3em;
      width: 200px;

      &.by-line {
         font-style: italic;
      }
   }
}

header.page {
   position: relative;
   background: none;

   #top-bar {
      z-index: 500;
      position: relative;
      background: none;

      h1 {
         font-family: @headerFont;
         color: @lightColor;
         margin: 0 0 0 @borderRadius;
         padding: 12px 0 18px;
         font-size: 45px;
         line-height: 1em;
         letter-spacing: 0;
      }
   }

   @media @mobile {
      position: fixed;
      z-index: 500;

      #top-bar {
         background-color: #666;
         border-bottom: none;
         position: fixed;
         width: 100%;
         top: 0;
         z-index: 200;

         h1 {
            font-size: 38px;
            font-weight: 400;
            color: @mobileTextColor;
         }
      }
   }
}

div.authorize {
   margin-top: 20px;

   h4 {
      font-family: @sanSerifFont;
      font-size: 36pt;
      margin: 0 0 0 20px;
      line-height: 1em;
      padding: 0;
      color: @trimColor;
   }

   div {
      font-family: @sanSerifFont;
      font-size: 22pt;
      margin-left: 30px;
   }
}

.not-ready {
   p {
      font-size: 24pt;
      text-align: center;
      line-height: 1.5em;
      padding: 0.5em 0;
      color: #fff;
   }
}

.not-found {
   height: @contentWidth;
   background-image: url('https://farm3.staticflickr.com/2911/14343924188_3eb2a469f0_b.jpg');

   p {
      font-size: 45px;
      text-align: center;
      line-height: 1.5em;
      padding: 1em;
      color: #fff;
      text-shadow: 0 0 8px rgba(0, 0, 0, 1);
   }
}

.internal-error {
   height: @contentWidth;
   background-image: url('https://farm4.staticflickr.com/3797/10001205193_e5cd88c09d_b.jpg');
   background-position: -270px 0;

   p {
      font-size: 40px;
      text-align: center;
      line-height: 1.5em;
      padding: 4em 1em 0;
      color: #fff;
      text-shadow: 0 0 8px rgba(0, 0, 0, 1);
   }
}

footer.page {
   position: relative;
   padding: 0;
   margin: 2em auto 1em;
   width: @contentWidth;
   text-align: center;
   background: none;

   a.repo {
      display: block;
      margin-bottom: 10px;
      text-decoration: none;
      span.icon {
         height: 25px;
         width: 25px;
      }
   }

   aside {
      background-color: rgba(255, 255, 255, 0.1);
      padding: 1em;
      border-radius: @borderRadius;

      p {
         text-align: center;
         color: rgba(255, 255, 255, 0.6);
         font-weight: normal;
         font-family: @sanSerifFont;
         font-size: 14px;
         text-indent: 0;
         padding: 0;
         margin: 2px;
         clear: right;

         a {
            color: @lightColor;
         }

         &.rights {
            font-size: 14px;
         }
      }
   }

   @media @desktop {
      a.repo {
         img {
            margin: 0 0 2px 3px;
         }
         .opacity(0.3);
         &:hover {
            .opacity(1);
         }
      }
   }

   @media @mobile {
      margin-top: 18px;
      width: 100%;
      background: #444;

      p {
         padding: 0 10px;
         font-size: 10px;
         margin: 0;
         line-height: 1.1em;
         &.rights {
            font-size: 10px;
         }
      }

      a.repo {
         margin: 10px 0 0;
         img {
            margin: 0 0 2px 1px;
         }
      }
   }

   @media @tablet {
      p {
         font-size: 14px;
         &.rights {
            font-size: 14px;
         }
      }
   }
}
